{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}
    <span class="separator"> &rsaquo; </span>
    <span class="title-item"><a href="{{ project.get_dashboard_url }}">{{ project.name }}</a></span>
    <span class="separator"> &rsaquo; </span>
    <span class="title-item">{% trans "Questions" %}</span>
{% endblock %}

{% block bottom-headers %}
    {% include "modules/wikiwidget.html" %}
{% endblock %}

{% block wrapper %}
<div id="questions" class="questions-create">
    <div class="context-menu">
        <ul>
            <li><a href="{{ project.get_questions_url }}">{% trans "Cancel" %}</a></li>
        </ul>
    </div>

    {% include "messages.html" %}
    
    <div class="form-container">
        <div class="form-legend">
            <span>{% trans "New question" %}</span>
        </div>
        <form id="edit-profile-form" method="post" enctype="multipart/form-data"
            action="" class="inline">
            {% csrf_token %}
            <div class="form-field">
                <label>{{ form.subject.label }}</label>
                {{ form.subject }}
                {{ form.subject.errors }}
            </div>
            <div class="form-field">
                <label>{{ form.milestone.label }}</label>
                {{ form.milestone }}
                {{ form.milestone.errors }}
            </div>
            <div class="form-field">
                <label>{{ form.assigned_to.label }}</label>
                {{ form.assigned_to }}
                {{ form.assigned_to.errors }}
            </div>

            <div class="form-field">
                <label>{{ form.watchers.label }}</label>
                {{ form.watchers }}
                {{ form.watchers.errors }}
            </div>
            <div class="form-field">
                <label>{{ form.closed.label }}</label>
                {{ form.closed }}
                {{ form.closed.errors }}
            </div>
            <div class="form-field width100">
                <label>{{ form.content.label }}</label>
                {{ form.content }}
                {{ form.content.errors }}
            </div>    

            <div class="width100 float-left">
                <input class="btn01" type="submit" value="{% trans "Save" %}" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
