{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load greenmine_utils %}
{% load greenmine_markup %}
{% load i18n %}

{% block title %}
    <span class="separator"> &gt; </span>
    <span class="title-item"><a href="{{ project.get_dashboard_url }}">{{ project.name }}</a></span>
    <span class="separator"> &gt; </span>
    <span class="title-item">{% trans "Questions" %}</span>
{% endblock %}

{% block wrapper %}
<div class="show-module">
    <div class="context-menu">
        <ul>
            <li><a class="new-milestone" href="{{ question.get_edit_url }}">
                {% trans "Edit this question" %}</a>
            </li>
            <li><a class="new-milestone" href="{{ question.get_delete_url }}">
                {% trans "Delete this question" %}</a>
            </li>
        </ul>
    </div>
    {% include "messages.html" %}

    <div class="question-module">
        <div class="question-header">
            <div class="main-header-row">
                <span class="title">{% trans "Question: " %}</span>
                <span class="subject">{{ question.subject }}</span>
            </div>
            <div class="small-header-row">
                <span>{% trans "Created on: " %} {{ question.created_date }}</span> / 
                <span>{% trans "Last modified on: " %} {{ question.modified_date }}</span>
            </div>
        </div>
        <div class="question-body">
            <div class="content wiki-content">
                {{ question.content|markup:project }}
            </div>
        </div>

    </div>
    <div class="question-responses">
        {% for response in responses %}
        <div class="question-response-item">
            <div class="content wiki-content">{{ response.content|markup:project }}</div>
            <div class="owner">{% trans "By: " %}<span>{{ response.owner.get_full_name }}</span></div>
            <div class="created-date">{{ response.created_date }}</div>
        </div>
        {% endfor %}
    </div>
    
    <div class="question-responses-form form-container">
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <div class="form-row">
                <label>{% trans "Write your comment:" %}</label>
                {{ form.description.errors }}
                {{ form.content }}
            </div>
            <div class="form-row">
                {{ form.attached_file.label }}
                {{ form.attached_file.errors }}
                {{ form.attached_file }}
            </div>
            <div class="form-row submit-row">
                <input type="submit" class="btn01" value="{% trans "Send comment" %}" />
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block bottom-headers %}
    {% if project.markup == 'rst' %}
        {% include "modules/syntaxhighlighter.html" %}
    {% else %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/friendly.css" type="text/css" media="handheld, all" />
    {% endif %}
{% endblock %}
