<script id="userstory-template" type="template/dot">
<div class="userstory-box">
    <div class="userstory-description left">
        <div class="description-box">
            <div class="tags-container">
                {{~it.tags :value:index}}
                <span class="category" category="{{=value.id}}">{{=value.name}}</span>
                {{~}}
            </div>
            <div class="description-text">
                {{=it.subject }}
            </div>
            <div class="description-meta">
                <div class="points-box">{{=it.pointsDisplay }}</div>
                <div class="button-newtask">{{=gettext("New task") }}</div>
            </div>
        </div>
    </div>
    <div class="userstory-tasks">
        <table>
            <tr class="task-row">
                <td class="status status-new" data-status="open">
                    <div class="task-item-container">
                    </div>
                </td>
                <td class="status status-progress" data-status="progress">
                    <div class="task-item-container">
                    </div>
                </td>
                <td class="status status-completed" data-status="completed">
                    <div class="task-item-container">
                    </div>
                </td>
                <td class="status status-closed" data-status="closed">
                    <div class="task-item-container">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</script>
