<script id="userstory-task-template" type="template/dot">
    <div class="task-item-box">
        <div class="task-inner-box">
            <div class="task-subject">
                <div class="task-tags">
                    <div class="tag">Tag1</div>
                    <div class="tag">Tag2</div>
                </div>
                <div class="text">{{=it.subject }}</div>
            </div>
            <div class="task-meta">
                <div class="status-button left">{{=it.statusDisplay }}</div>
                <div class="assigned-button left" data-assigned-to-id="{{=it.assignedTo }}">
                    <div class="assigned-color left"></div>
                    <div class="assigned-name left">Alejandro Alonso</div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>
