<script type="templates/dot" id="milestone-template">
    <div class="milestone-header">
        <div class="milestone-title">{{=it.name }}</div>
        <div class="milestone-meta">
            <a href="#">Detail</a>
            <a href="#">Edit</a>
            <a href="#" class="delete">Delete</a>
        </div>

        <div class="milestone-stats">
            <progress max="100" value="20">
                <strong>20 %</strong>
            </progress>

            <span class="number percenajte">20 %</span>
            <span class="number total-points">20</span>
            <span class="text">Total</span>
            <span class="number completed-points">10</span>
            <span class="text">Completed</span>
        </div>
    </div>
    <div class="milestone-userstorys"></div>
</script>
