<script type="template/dot" id="task-template">
    <div class="row title">

        {{~it.tags :value:index}}
            <span class="category" category="{{=value.id}}">
                {{=value.name}}
            </span>

        {{~}}
        <span>
            <a href="{{=it.viewUrl }}">
                {{=it.subject }}
            </a>
        </span>
    </div>
    <div class="row status">
        <span>{{=it.status }}</span>
    </div>
    <div class="row milestone">
        <span><a href="">{{=it.assignedTo }}</a></span>
    </div>
    <div class="row metaicon">
        <img class="delete" src="/static/imgs/close-icon.png"
            deleteurl="{{=it.deleteUrl }}"></img>
    </div>
</script>
