<script type="text/x-handlebars-template" id="unassigned-us-template">
    <div class="body-right right" data-delete-url="">
        <div class="body-item meta left">
            <div class="button-gray">
                <a href="{{ viewUrl }}">Detail</a>
            </div>
            <div class="button-gray">
                <a href="">Edit</a>
            </div>
            <div class="button-gray">
                <a href="" class="delete">Delete</a>
            </div>
        </div>

        <div class="body-item points left">{{ pointsDisplay }}</div>
        <div class="body-item priority left">{{ priority }}</div>
    </div>
    <div class="body-left">
        <div class="body-item us-title">
            <div class="title-tags">
                {{#each tags }}
                <div class="tag">
                    <span class="category unselected" category="{{ this.id }}">{{ this.name }}</span>
                </div>
                {{/each}}
            </div>
            <div class="title-text" data-url="{{ viewUrl }}">{{ subject }}</div>
        </div>
    </div>
</script>
