.dialog-container {
    background-color: @white;
    .border-radius(4px);
    padding: 20px;
    border: 2px solid @gray;

    .dialog-text {
        padding: 10px;
    }
    .dialog-buttons {
        padding: 10px;
        .button-gray {
            margin-left: 5px;
        }
    }
}

.delete-dialog {
    .dialog-container {
    }
}
