.form-box {
    .buttons-area .area-item {
        margin-right: 10px;
    }

    .top-box-bar,
    .bottom-box-bar {
        background-color: @gray;
        padding: 5px;
    }

    .top-box-bar{
        .title-area {
            padding: 5px;
            color: @white;
            font-size: 16px;
        }
    }

    .form-container {
        padding: 20px 10px;

        .width100 {
            width:100% !important;
        }

        .form-field {
            width: 220px;
        }

        .inline-row {
            .form-field {
                float: left;
                margin-left: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

.markItUpHeader {
    overflow: hidden;
}
