.header-container {
    width: 100%;
    background-color: @green;
    height: 105px;

    .header-inner {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 900px;
        color: @grayDarker;

        a {
            color: @grayDarker;
        }

        .title-box {
            padding: 0px;
            margin-left: 0px;
            color: white;
            font-size: 26px;

            .title-main {
                color: @green;
            }
            .separator {
                color: @gray;
                font-weight: bold;
            }
        }
        .right-top-menu {
            font-weight: bold;
        }

        .header-menu {
            padding: 10px;
            margin-top: 5px;

            ul {
                padding: 0px;
                margin: 0px;
                font-size: 14px;
                font-family: @DroidSansBold;

                li {
                    display: inline;
                    padding-right: 25px;
                }

                li a {
                    color: white;
                }
                li.selected a {
                    color: @black;
                }
            }
        }
    }
}
