.header-container {
    width: 100%;
    background-color: @gray;
    height: 120px;

    .header-inner {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 900px;
        color: @grayDarker;

        a {
            color: @grayDarker;
        }

        .title-box {
            padding: 15px;
            background-color: @grayDark;
            color: white;
            .border-radius(7px);
            font-size: 22px;
        }
    }
}
