body {  background-color: red; }
@import "bootstrap/bootstrap.less";
@import "header.less";

body {
  padding-bottom: 40px;
}

/******************
 *
 * Typography
 *
 *****************/

//Droid Regular
@font-face {
    font-family: 'DroidSansRegular';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-webfont.woff') format('woff'),
         url('../fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//DroidBold
@font-face {
    font-family: 'DroidSansBold';
    src: url('../fonts/DroidSans-Bold-webfont.eot');
    src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

//DroidSerifRegular
@font-face {
    font-family: 'DroidSerifRegular';
    src: url('../fonts/DroidSerif-Regular-webfont.eot');
    src: url('../fonts/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Regular-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//DroidSerifBold
@font-face {
    font-family: 'DroidSerifBold';
    src: url('../fonts/DroidSerif-Bold-webfont.eot');
    src: url('../fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Bold-webfont.svg#DroidSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Arvo
@font-face {
    font-family: 'ArvoRegular';
    src: url('../fonts/Arvo-Regular-webfont.eot');
    src: url('../fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arvo-Regular-webfont.woff') format('woff'),
         url('../fonts/Arvo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//ArvoBold
@font-face {
    font-family: 'ArvoBold';
    src: url('../fonts/Arvo-Bold-webfont.eot');
    src: url('../fonts/Arvo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arvo-Bold-webfont.woff') format('woff'),
         url('../fonts/Arvo-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Arvo-Bold-webfont.svg#ArvoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@DroidSansRegular: 'DroidSansRegular';
@DroidSansBold: 'DroidSansBold';
@DroidSerifRegular: 'DroidSerifRegular';
@DroidSerifBold: 'DroidSerifBold';
@ArvoRegular: 'ArvoRegular';
@ArvoBold: 'ArvoBold';

/***************
 *
 * Structure
 *
 **************/

.container{
    width: 980px;
}

.sidebar{
    width: 250px;
    float: right;
}

.main-content {
    width: 705px;
    margin-right: 20px;
    float: left;
}

.left{
    float: left;
}

.right{
    float: right;
}

/***************
 *
 * BUTTON
 *
 **************/

.button{
    padding: 10px 30px;
    .border-radius(5px);
    font-family: @DroidSansBold;
    font-size: 16px;
    border: 1px solid;
}

.middle-container {
    .main-box {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
    }

    #login {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
    }
}

.backlog {
    .milestones {
        width: 450px;
        min-height: 200px;
        border: 1px solid black;
    }
    .backlog-container {
        margin-right: 450px;
        border: 1px solid red;
        min-height: 200px;
    }
}
