body {  background-color: red; }
@import "bootstrap/bootstrap.less";
@import "header.less";

body {
  padding-bottom: 40px;
}

/******************
 *
 * Typography
 *
 *****************/

//Droid Regular
@font-face {
    font-family: 'DroidSansRegular';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-webfont.woff') format('woff'),
         url('../fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//DroidBold
@font-face {
    font-family: 'DroidSansBold';
    src: url('../fonts/DroidSans-Bold-webfont.eot');
    src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

//DroidSerifRegular
@font-face {
    font-family: 'DroidSerifRegular';
    src: url('../fonts/DroidSerif-Regular-webfont.eot');
    src: url('../fonts/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Regular-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//DroidSerifBold
@font-face {
    font-family: 'DroidSerifBold';
    src: url('../fonts/DroidSerif-Bold-webfont.eot');
    src: url('../fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Bold-webfont.svg#DroidSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Arvo
@font-face {
    font-family: 'ArvoRegular';
    src: url('../fonts/Arvo-Regular-webfont.eot');
    src: url('../fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arvo-Regular-webfont.woff') format('woff'),
         url('../fonts/Arvo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//ArvoBold
@font-face {
    font-family: 'ArvoBold';
    src: url('../fonts/Arvo-Bold-webfont.eot');
    src: url('../fonts/Arvo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arvo-Bold-webfont.woff') format('woff'),
         url('../fonts/Arvo-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Arvo-Bold-webfont.svg#ArvoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@DroidSansRegular: 'DroidSansRegular';
@DroidSansBold: 'DroidSansBold';
@DroidSerifRegular: 'DroidSerifRegular';
@DroidSerifBold: 'DroidSerifBold';
@ArvoRegular: 'ArvoRegular';
@ArvoBold: 'ArvoBold';

/***************
 *
 * Structure
 *
 **************/

.container{
    width: 980px;
}

.sidebar{
    width: 250px;
    float: right;
}

.main-content {
    width: 705px;
    margin-right: 20px;
    float: left;
}

.left{
    float: left;
}

.right{
    float: right;
}

/***************
 *
 * BUTTON
 *
 **************/

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.button{
    padding: 10px 30px;
    .border-radius(5px);
    font-family: @DroidSansBold;
    font-size: 16px;
    border: 1px solid;
}

.middle-container {
    .main-box {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
    }

    #login {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
    }
}

/***************
 *
 * BACKLOG
 *
 **************/
.backlog {
    .milestones {
        width: 450px;
        min-height: 200px;

        .milestone-item{
            background: @grayDark;
            margin-bottom: 10px;
            color: #FFFFFF;
            padding: 10px;

            .header{
                padding: 5px;

                .title{
                    float: left;
                    font-size: 18px;
                }
                .meta{
                    float:right;

                    a {
                        background: @grayLight;
                        padding: 2px 3px;
                        -webkit-border-radius: 5px;
                        margin-left: 5px;
                        color: @white;

                        &:hover{
                            background: @red;
                            text-decoration: none;
                        }
                    }
                }
                .stats{
                    .number{
                        font-size: 15px;
                    }
                    .text{
                        font-size: 10px;
                        color: @grayLight;
                    }
                    progress {
                    }
                }
            }

            .milestone-userstorys{
                margin: 0px;
                padding: 10px;
                background: @white;
                color: @black;
                line-height: 30px;

                hr{
                    margin: 0px 0px;
                }

                .us-item{
                    padding: 5px 0px;

                    &:hover{
                        background:@grayLighter;
                        cursor: pointer;
                    }

                    .us-meta{
                        float:right;
                        text-align:right;
                        width: 50px;
                        color: @grayLight;
                    }

                    .us-title{
                        margin-right: 60px;

                        .status{
                            width: 12px;
                            height: 12px;
                            background-color: @grayLight;
                            -webkit-border-radius: 6px;
                            float: left;
                            margin: 8px 8px 0 0;
                            &.completed{
                                background-color: @green;
                            }
                        }

                        .tag{
                            background: @gray;
                            padding: 5px;
                            color: @white;
                        }
                    }
                }
            }
        }
    }
    .backlog-container {
        margin-right: 465px;
        min-height: 200px;

        .uslist-box{
            .un-us-item{
                overflow: hidden;

                &:hover{
                    background:@grayLighter;
                    cursor: pointer;
                }

            }

            .row {
                font-size: 14px;
                float: right;
                vertical-align: bottom;
                line-height: 35px;
                color: @black;

                &.title{
                    float: left;
                    width: auto;
                    margin-right: 100px;

                    .category{
                        background: @gray;
                        padding: 5px 10px;
                        color: @white;
                        margin-right: 5px;
                        cursor: pointer;
                        &.selected {
                            background-color: @green;
                            background-image: url(/static/imgs/close-icon.png);
                            background-repeat:no-repeat;
                            background-position: 3px 5px;
                            padding-left: 20px;
                        }

                    }

                }

                &.priority, &.points {
                    width: 60px;
                    text-align: right;
                }

                &.meta{
                    float:right;

                    a {
                        background: @grayLight;
                        padding: 2px 3px;
                        -webkit-border-radius: 5px;
                        margin-left: 5px;
                        color: @white;

                        &:hover{
                            background: @red;
                            text-decoration: none;
                        }
                    }
                }

            }

            hr{
                margin: 0px 0px;
            }
        }

    }
}

.row{
    margin: auto;
    display: block;
    &:before {
        display: block;
        content: none;
    }
    &:after {
        display: block;
        content: none;
    }
}
