!!! strict
html
  head
    meta(charset='utf-8')
    title= glob.title
    link(rel='stylesheet', href='/css/general.css')
  body
    div#head
        h1!= glob.title
    
    != body

    div#footer
        p Powered by Greenmine ©

    script(type='text/javascript', src='/js/external/jquery.min.js')
    script(type='text/javascript', src='/js/external/jquery-validation/jquery.validate.min.js')
    script(type='text/javascript', src='/js/general.js')
