div#login
    form#login.validate(method='post', action='http://www.google.es')
        fieldset
            p.form-field
                label Usuario:
                input#login-user.required(type='text', name='login-user')
            p.form-field
                label Contraseña:
                input#login-pass.required(type='password', name='login-pass')
            p.forgot-pass
                a#open-forgotten-password-form(href="") ¿Olvidaste la contraseña?
            p.form-field
                input.btn01(type='submit', value="Entrar")
                span.ajax-loader

    form#forgotten-password-form.validate(method='post', action='http://www.google.es/")
        fieldset
            p.form-field
                label Email
                input#fp-email.required.email(type='text', name='fp-email')
            p.form-field
                span.ajax-loader
                input.btn01(type='submit', value='Recordar')
                a#close-forgotten-password-form.btn01(href='') Cancelar

                

                
