body { margin: 0px; padding: 0px; }
body .header { background-color: #458745; padding: 5px; color: white; font-weight: bold; overflow: hidden;}
body .header .title { float: left; }
body .header .title a { color: white; text-decoration: none; }
body .header .right { float: right; font-size: 11px; }

body .wrapper { margin-top: 10px; padding-left: 7px; padding-right: 7px; }
body a { font-weight: bold; color: black; }

label { font-weight: bold; }
input { padding: 3px; border: 1px solid #999; }
input[type="button"],
input[type="submit"] { width: 90px; background-color: #eee; border: 1px solid #999; outline: 1px solid #ccc; }

form div.field { margin-bottom: 8px; }
.hidden { display: none; }

.login-panel input[type="text"], 
.login-panel input[type="password"] { width: 95%; }

.projects-panel .project-item { overflow: hidden; border: 1px solid #ccc; background-color: #eee;
    padding: 5px; margin-bottom: 4px;}
.projects-panel .project-item .title { float: left; width: 100px; }
.projects-panel .project-item .extra { float: right; width: 150px;  font-size: 11px; }

table.top-menu { margin: 0px; padding: 0px; background-color: #eee; width: 100%;  }
table.top-menu td { text-align: center; width: 33%; padding: 4px;}
table.top-menu td.selected { background-color: #999; }
table.top-menu td.selected a { color: white; }

.project-panel .subpanel {
    padding: 3px;
    margin-bottom: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.issues-module .issues-list { padding-left: 2px; padding-top: 2px; padding-bottom: 2px; }

.issues-module .issues-list .issue-item {
    margin-bottom: 2px;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 2px;
    font-size: 12px;
}

.issues-module .issues-list .issue-item .title {
    overflow: hidden;
    padding: 4px;
    border-radius: 4px;
}
.issues-module .issues-list .issue-item.notself .title {
    background-color: #666;
}
.issues-module .issues-list .issue-item.self-assigned .title {
    background-color: #458745;
}
    
.issues-module .issues-list .issue-item .title a { 
    color: white; 
    text-decoration: none; 
    font-size: 16px;
}

.issues-module .issues-list .issue-item .options {
    text-align: right;
}

ul.errorlist {
    margin:0px;
    padding:0px;
    list-style: none;
    color: red;
    font-size: 12px;
}
.issues-module fieldset.panel {
    border: 1px solid #ddd;
    padding: 2px;
    background: #eee;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.issue-module fieldset.panel {
    border: 1px solid #ddd;
    background: #eee;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.issues-module fieldset.panel legend {
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}

.issue-module fieldset.panel legend {
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}
.issue-module fieldset.panel div.field {
    margin-bottom: 10px;
}
.issue-module fieldset.panel div.field label{
    display: block;
    border-bottom: 1px solid #ddd;
}
