body { margin: 0px; padding: 0px; }
body .header { background-color: #458745; padding: 5px; color: white; font-weight: bold; overflow: hidden;}
body .header .title { float: left; }
body .header .right { float: right; font-size: 11px; }
body .header a { color: white; text-decoration: none; }
body a { font-weight: bold; color: black; }

label { font-weight: bold; }
input { padding: 3px; border: 1px solid #999; }
input[type="button"],
input[type="submit"] { width: 90px; background-color: #eee; border: 1px solid #999; outline: 1px solid #ccc; }

form div.field { margin-bottom: 8px; }
.hidden { display: none; }


.projects-panel .project-item { overflow: hidden; border: 1px solid #ccc; background-color: #eee;
    padding: 5px; margin-bottom: 4px;}
.projects-panel .project-item .title { float: left; width: 100px; }
.projects-panel .project-item .extra { float: right; width: 150px;  font-size: 11px; }

table.top-menu { margin: 0px; padding: 0px; width: 100%;  }
table.top-menu td { text-align: center; width: 33%; padding: 4px;}
table.top-menu td a { text-decoration: none; color: #AAA; font-weight: bold; }
table.top-menu td.selected a { text-decoration: underline;  color:#458745; }

.project-panel .subpanel {
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.issues-module .us-list .us-item {
    margin: 0px;
    margin-bottom: 4px;
    padding-bottom: 2px;
    font-size: 12px;
}

.issues-module .us-list .us-item .us-title {
    height: 42px;
    overflow: hidden;
    padding: 3px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.issues-module .us-list .us-item.selected .us-title {
    background-color: #ddd;
}
.issues-module .us-list .us-item .us-title a { 
    color: #111;
    text-decoration: none; 
    font-size: 14px;
}
.issues-module .us-list .us-item .us-title.selected a {
    color: white; 
}
.issues-module .us-list .us-item .us-title .meta {
    text-align: right;
}
.issues-module .us-list .us-item .us-title .meta div {
    display: inline;
    padding-right: 10px;
}
.issues-module .us-list .us-item .tasks {
    padding: 2px; margin-bottom:2px;
    margin-left: 5px; margin-right: 5px;
    background-color: #eee;
    border-bottom:1px dotted #aaa;
}

ul.errorlist {
    margin:0px;
    padding:0px;
    list-style: none;
    color: red;
    font-size: 12px;
}
div.field {
    margin-bottom: 10px;
}
div.field label{
    display: block;
    border-bottom: 1px solid #ddd;
}
a.button {
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    width: 120px; 
    background-color: white; 
    border: 1px solid #999; 
    text-decoration: none;
    padding:1px;
    height: 20px;
    line-height: 20px;
    display: block;
}


input[type="text"], 
input[type="password"],
select { width: 95%; height:20px; padding: 1px; display: block; }

select {
    font-weight: normal; 
    font-size: 13px;
    background-color: white; 
    border: 1px solid #999; 
    text-decoration: none;
    padding:1px;
    height: 20px;
    display: block;
    margin-bottom: 10px;
}

.us-item .tasks .list {
    padding-left: 10px;
}
