<h3>User stories:</h3>
<div class="us-list">
    {% for us in uss %}
    <div class="us-item priority{{ us.priority }} {{ issue.type }}" rel="{{ us.milestone.id }}">
        <div class="us-title">
            <a href="">{{ us.ref }}# - {{ us.subject|truncatewords:4 }}</a>
            <div class="meta">
                <div><b>Estimacion: </b>{{ us.get_points_display }}</div>
                <div><b>Prioridad: </b>{{ us.get_priority_display }}</div>
            </div>
        </div>
        <div class="tasks hidden">
            <div class="meta">
                <div class="">
                </div>
                <div class="links-loc">
                    <b>Opciones: </b>
                    <a href="{{ us.get_view_url }}">Ver</a> /
                    <a href="">Editar</a> /
                    <a href="">Eliminar</a>
                </div>
            </div>

            <b>Tareas: </b>
            <div class="list">
                {% for task in us.tasks.all %}
                <li class="item">{{ task.subject }}</li>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
