<fieldset class="panel issues-panel">
    <legend>Other user stories:</legend>
    <div class="us-list">
        {% for issue in issues %}
        <div class="us-item priority{{ issue.priority }} {{ issue.type }}">
            <div class="us-title">
                <a href="">{{ issue.subject|truncatewords:5 }}</a>
            </div>
            {% comment %}
            <div class="issues">
                {% for child in issue.childs.all %}
                <div class="issue">
                    <div class="issue-title">{{ issue.subject }}</div>
                </div>
                {% endfor %}
            </div>
            {% endcomment %}
        </div>
        {% endfor %}
    </div>
</fieldset>
