{% load i18n %}
<progress max="100" value="{{ percentage_completed }}">
  <strong>{{ percentage_completed }}%</strong>
</progress>

<span class="number percenajte">
    {{ percentage_completed }}%
</span>
<span class="text">{% trans "Completed points" %}</span>

<span class="number total-points">{{ total_points }}</span>
<span class="text">{% trans "Total" %}</span>

<span class="number assigned-points">{{ assigned_points }}</span>
<span class="text">{% trans "Assigned points" %}</span>

<span class="number unassigned-points">{{ unassigned_points }}</span>
<span class="text">{% trans "Unassigned points" %}</span>

