{% load cache %}

{% cache 20 us.id us.modified_date %}
<div class="user-story" id="us{{ us.id }}" us="{{ us.id }}">
    <div class="user-story-header hfield">
        <b>{{ us.subject }}</b>
        <a href="" class="add-task"><img src="{{ STATIC_URL }}imgs/plus-icon.png" width="14" height="14"></img></a>
    </div>
    <div class="user-story-status hfield status-new" rel="new">
        {% for task in us.tasks_new %}
            {% include "modules/task-user-story.html" %}
        {% endfor %}
    </div>
    <div class="user-story-status hfield status-progess" rel="progress">
        {% for task in us.tasks_progress %}
            {% include "modules/task-user-story.html" %}
        {% endfor %}
    </div>
    <div class="user-story-status hfield status-closed" rel="close">
        {% for task in us.tasks_closed %}
            {% include "modules/task-user-story.html" %}
        {% endfor %}
    </div>
</div>
{% endcache %}
