{% load i18n %}
<div class="user-story" id="us{{ us.id }}" us="{{ us.id }}">
    <div class="user-story-header hfield">
        <b>[{{ us.ref }}]</b> - <a href="{{ us.get_view_url }}">{{ us.subject }}</a>
        <a href="" class="add-task"><img src="{{ STATIC_URL }}imgs/plus-icon.png" width="14" height="14"></img></a>
        <a href="" class="remove-us"><img src="{{ STATIC_URL }}imgs/trash.png" width="14" height="14"></img></a>
        <span class="estimation">{% trans "Points:" %} {{ us.get_points_display }}</span>
    </div>
    <div class="user-story-status hfield status-new" rel="new">
        {% for task in us.tasks_new %}
            {% include "modules/task-user-story.html" %}
        {% endfor %}
    </div>
    <div class="user-story-status hfield status-progess" rel="progress">
        {% for task in us.tasks_progress %}
            {% include "modules/task-user-story.html" %}
        {% endfor %}
    </div>
    <div class="user-story-status hfield status-closed" rel="close">
        {% for task in us.tasks_closed %}
            {% include "modules/task-user-story.html" %}
        {% endfor %}
    </div>
</div>
