{% load i18n %}
<div class="user-story" id="us{{ us.id }}" us="{{ us.id }}">
    <div class="user-story-header hfield">
        <div class="hfield-data">
            <div class="description">
                <a href="{{ us.get_view_url }}">{{ us.subject }}</a>
            </div>
        </div>
        <div class="hfield-meta">
            <a href="{{ project.get_task_create_url }}?milestone={{ us.milestone.id }}&us={{ us.id }}&next={{ current_url }}" class="add-task">
                <img src="{{ STATIC_URL }}imgs/plus-icon.png" width="14" height="14"></img>
            </a>
            <span class="estimation">{% trans "Points:" %} {{ us.get_points_display }}</span>
        </div>
    </div>
    <div class="user-story-status hfield status-new" rel="new">
        {% for task in us.tasks_new %}
            {% include "modules/task-user-story.html" %}
        {% endfor %}
    </div>
    <div class="user-story-status hfield status-progess" rel="progress">
        {% for task in us.tasks_progress %}
            {% include "modules/task-user-story.html" %}
        {% endfor %}
    </div>
    <div class="user-story-status hfield status-closed" rel="close">
        {% for task in us.tasks_closed %}
            {% include "modules/task-user-story.html" %}
        {% endfor %}
    </div>
</div>
