{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n superview %}
{% load rawinclude greenmine_utils %}

{% block title %}
<span class="separator"> &rsaquo; </span>
<span class="title-item"><a href="{{ project.get_backlog_url }}">{{ project.name }}</a></span>
<span class="separator"> &rsaquo; </span>
<span class="title-item">{% trans "Backlog" %}</span>
{% endblock %}

{% block wrapper %}
<div class="backlog" id="backlog">
    <div class="milestones right">
        <div class="milestones-header">
            <div class="bar-title left">
                <div class="sprints-number">5</div>
                <div clasS="sprints-number-help">sprints planned</div>
            </div>
            <div class="bar-right right">
                <div class="bar-button button-unbordered">
                    <a href="#" class="show-milestone-form">{% trans "New sprint" %}</a>
                </div>
            </div>
        </div>
        <div class="milestones-form hidden">
            <div class="form-box">
                <form method="post" action="">
                    <div class="form-row">
                        <div class="form-field width100 sprint-name">
                            <label for="">Sprint name</label>
                            <input name="name" type="text" />
                        </div>
                    </div>
                    <div class="form-row inline-row sprint-dates">
                        <div class="form-field first">
                            <label for="">Estimated start</label>
                            <input name="start_date" type="text" />
                        </div>
                        <div class="form-field">
                            <label for="">Estimated end</label>
                            <input name="end_date" type="text" />
                        </div>
                    </div>
                    <div class="form-row inline-row sprint-disponibility">
                        <div class="form-field first">
                            <label for="">Disponibility</label>
                            <input name="disponibility" type="text" />
                        </div>
                    </div>
                    <div class="form-row submit-row">
                        <div class="button create">{% trans "Create" %}</div>
                        <div class="button-text white cancel">{% trans "Cancel" %}</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="milestones-list" id="milestones" data-api-url="{{ project.get_backlog_milestones_url }}"></div>
    </div>

    <div class="backlog-container">
        <div class="backlog-box">
            <div class="stats-box" id="stats-box">
                <div class="stats-container" id="stats" data-stats-api-url="{{ project.get_backlog_stats_url }}">
                    <div class="progress-bar-container">
                        <progress value="20" max="100" />
                    </div>
                    <div class="progress-text-container">
                        <div class="info-text-inline-box" id="completed-points">
                            <div class="info-text-main"><span>20</span> %</div>
                            <div class="info-text-help">completed points</div>
                        </div>
                        <div class="info-text-inline-box" id="total-points">
                            <div class="info-text-main">120</div>
                            <div class="info-text-help">total points</div>
                        </div>
                        <div class="info-text-inline-box" id="assigned-points">
                            <div class="info-text-main">80</div>
                            <div class="info-text-help">assigned points</div>
                        </div>
                    </div>
                </div>

                <div class="graphs-container" id="graphs"
                        data-burndown-api-url="{{ project.get_backlog_burndown_url }}"
                        data-burnup-api-url="{{ project.get_backlog_burnup_url }}">
                    <div id="burndown" {% if project_extras.show_burndown %}data-show="on"{%endif%}>
                        <div id="burndown-graph" style="display:none"></div>
                    </div>
                    <div id="burnup" {% if project_extras.show_burnup %}data-show="on"{% endif %}>
                        <div id="burnup-graph" style="display:none"></div>
                    </div>
                </div>
            </div>

            <div class="show-hide-graphics">
                <a href="#" >{% trans "Hide graphics" %}</a>
            </div>

            <div class="uslist-box" data-url="{{ project.get_backlog_unassigned_us_url }}">
                <div class="top-box">
                    <div class="filters-container">
                        {% comment %}
                        <div id ="tags-filter-section" class="filter-section" related="#tags-body">{% trans "Tags" %}</div>
                        <div id="tags-body" class="filter-group selected"></div>
                        <div id ="milestones-filter-section" class="filter-section" related="#milestones-body">{% trans "Milestones" %}</div>
                        <div id="milestones-body" class="filter-group"></div>
                        <div id ="status-filter-section" class="filter-section" related="#status-body">{% trans "Status" %}</div>
                        <div id="status-body" class="filter-group"></div>
                        <div id ="assigned-to-filter-section" class="filter-section" related="#assigned-to-body">{% trans "Assigned to" %}</div>
                        <div id="assigned-to-body" class="filter-group"></div>

                        <div id="severity-filter-section" class="filter-section" related="#severity-body">{% trans "Severity" %}</div>
                        <div id="severity-body" class="filter-group"></div>

                        <div id ="priority-filter-section" class="filter-section" related="#priority">{% trans "Priority" %}</div>
                        <div id="priority-body" class="filter-group"></div>
                        {% endcomment %}
                    </div>
                    <div class="filters-bar">
                        <div class="bar-title left">
                            <span class="show-hide-filters-box">{% trans "Filters" %}</span>
                            <div id="selected-filters"></div>
                            <span class="remove-filters">{% trans "¡Filters out!" %}</span>
                        </div>
                        <div class="bar-right right">
                            <div class="bar-button button-unbordered">
                                <a href="#" id="show-userstory-form">{% trans "New user story" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="userstory-form hidden">
                        <div class="button plus">+</div>
                        <div class="form-box">
                            <form method="post" action="">
                                <div class="form-items">
                                    <div class="form-row template-row">
                                        <div class="form-field width100 userstory-text">
                                            <label for="">{% trans "User story text:" %}</label>
                                            <textarea name="userstory"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row submit-row">
                                    <div class="button create">{% trans "Create" %}</div>
                                    <div class="button-text white cancel">{% trans "Cancel" %}</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="middle-box backlog-middle-box">
                    <div class="list-header">
                        <div class="header-right right">
                            <div class="header-item buttons left"></div>
                            <div class="header-item points left">{% trans "Points" %}</div>
                            <div class="header-item priority left">{% trans "Priority" %}</div>
                        </div>
                        <div class="header-left">
                            <div class="header-item us-title">{% trans "User story title" %}</div>
                        </div>
                    </div>
                    <div class="list-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom-headers %}
{% raw_include "dot/unassigned-us-include.html" %}
{% raw_include "dot/assigned-us-include.html" %}
{% raw_include "dot/milestone.html" %}
{% raw_include "dot/tag-include.html" %}


<script src="{% static 'js/bb/backlog.js' %}"></script>
<script>
Greenmine.Collections.milestones.reset({% as_json milestones %});
Greenmine.Collections.unassignedUserstories.reset({% as_json unassigned_us %});

// Initialize stats
Greenmine.Views.statsView = new Greenmine.Views.StatsView();
Greenmine.Views.statsView.reloadSuccess({% as_json stats %});
</script>
{% endblock %}
