{% load i18n %}
<div class="un-us-item head-title">
    <div class="row title">
        <span>
            <a href="#" order_by="category">{% trans "Category" %}</a> /
            <a href="#" order_by="subject">{% trans "Subject" %}</a>
        </span>
    </div>
    <div class="row points">
        <span><a href="#" order_by="points">{% trans "Points" %}</a></span>
    </div>
    <div class="row priority">
        <span><a href="#" order_by="priority">{% trans "Priority" %}</a></span>
    </div>
    <div class="row metaicon"></div>
</div>

<div class="un-us-item">
    <div class="row title tag-selector">
        {% for tag in tags%}
            <span class="category" category="{{ tag.id }}">
                {{ tag }} {{tag.count}}
            </span>
        {% endfor %}
    </div>
</div>



{% for us in unassigned_us %}
{% include "user-story-item.html" with us=us %}
{% endfor %}
