{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_backlog_url }}">{{ project.slug }}</a> / {% trans "Backlog" %}{% endblock %}

{% block wrapper %}
<div data-api-url="{{ project.get_milestones_list_api_url }}" class="backlog" id="backlog">

    <div class="milestones right" id="milestones" url="{{ project.get_backlog_right_block_url }}">
    </div>

    <div class="backlog-container">
        <div class="backlog-box">
            <div class="graph-box"></div>
            <div class="filters-box"></div>
            <div class="uslist-box"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom-headers %}
    <script type="text/javascript" src="{% static 'js/bb/backlog.js' %}"></script>
{% endblock %}
