{% load i18n %}
{% load static from staticfiles %}

{% for ml in milestones %}
<div id="milestone-{{ml.id}}" ref="{{ ml.id }}" class="milestone-item {% if ml == milestone %}selected{% endif %}">
    <div class="header clearfix">

        <div class="title">
            {{ ml.name|capfirst }}
        </div>

        <div class="meta">
            <a href="{{ ml.get_dashboard_url }}">
                {% trans "Detail" %}
            </a>

            <a href="{{ ml.get_edit_url }}" class="mledit">
                {% trans "Edit" %}
            </a>

            <a href="{{ ml.get_delete_url }}" class="delete">
                {% trans "Delete" %}
            </a>
        </div>

        <div class="stats clearfix" style="clear:both">

            <progress max="100" value="{{ ml.percentage_completed }}">
              <strong>{{ ml.percentage_completed }}%</strong>
            </progress>

            <span class="number percenajte">
                {{ ml.percentage_completed }}%
            </span>

            <span class="number total-points">{{ ml.total_points }}</span>
            <span class="text">{% trans "Total" %}</span>

            <span class="number completed-points">{{ ml.completed_points }}</span>
            <span class="text">{% trans "Completed" %}</span>
        </div>
    </div>

    <div class="milestone-userstorys">
        {% for us in ml.user_stories.select_related %}
            {% include "milestone-item.html" with us=us %}
            {% if not forloop.last %}
                <hr>
            {% endif %}
        {% empty %}
        <div class="us-item-empty us-item">
            <div class="us-title">{% trans "No user storys" %}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
