{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.name }}{% endblock %}

{% block wrapper %}
<div id="dashboard" rel="{{ project.get_milestones_list_api_url }}" class="backlog">
    <div class="context-menu">
        <ul>
            <li><a class="new-us" href="{{ project.get_userstory_create_url }}">{% trans "Add new user story" %}</a></li>
            <li><a class="new-milestone" href="{{ project.get_milestone_create_url }}">{% trans "Add new milestone" %}</a></li>
        </ul>
    </div>

    {% include "messages.html" %}

    <div class="left-block">
        <div class="unassigned-us">
            <div class="un-us-item head-title">
                <div class="row title">
                    <span><a href="">{% trans "Category" %}</a> / <a href="">{% trans "Subject" %}</a></span>
                </div>
                <div class="row points">
                    <span><a href="">{% trans "Points" %}</a></span>
                </div>
                <div class="row priority">
                    <span><a href="">{% trans "Priority" %}</a></span>
                </div>
                <div class="row metaicon"></div>
            </div>
            {% for us in unassigned_us %}
            {% include "user-story-item.html" with us=us %}
            {% endfor %}
        </div>
    </div>

    <!-- Milestone block -->
    <div class="right-block">
        <div class="milestones">
            {% for ml in milestones %}
            <div id="milestone-{{ml.id}}" class="milestone-item {% if ml == milestone %}selected{% endif %}"
                    assign_url="{{ ml.get_assign_url }}">
                <div class="milestone-title">
                    <div class="text"><a href="{{ ml.get_dashboard_url }}">{{ ml.name|capfirst }}</a></div>
                    <div class="meta">
                        <a href="" class="delete">
                            <img style="vertical-align: middle" src="{% static 'imgs/delete-icon.png' %}"></img>
                        </a>
                    </div>
                </div>

                <div class="milestone-userstorys">
                    {% for us in ml.user_stories.select_related %}
                        {% include "milestone-item.html" with us=us %}
                    {% empty %}
                    <div class="us-item-empty us-item">
                        <div class="us-title">{% trans "No user storys" %}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="unassign-dialog" style="display: none" title="{% trans "What do you do?" %}">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        {% trans "Choose the appropriate option." %}
    </p>
</div>

<div class="assign-dialog" style="display: none" title="">
</div>

<div class="delete-milestone-dialog" style="display: none" title="{% trans "Are you sure?" %}">
    <p>{% trans "Are you sure you want to delete this milestone?" %}
</div>

<div class="delete-us-dialog" style="display: none" title="{% trans "Are you sure?" %}">
    <p>{% trans "Are you sure you want to delete this US?" %}
</div>

<div id="examples" style="display: none">
    <div class="us-item">
        <div class="us-title"></div>
        <div class="us-meta">
            <div class="meta-data" style="display: none"
                viewurl="" ref="" priorityid="" priority="" points=""></div>
            <a href="" class="unassign"><img src="{% static 'imgs/close-icon.png' %}"></img></a>
        </div>
    </div>
    <div class="un-us-item">
        <div class="row identify">
            <span><a href=""></a></span>
        </div>
        <div class="row title">
            <span><a href=""></a></span>
        </div>
        <div class="row points">
            <span></span>
        </div>
        <div class="row priority">
            <span priprity=""></span>
        </div>
        <div class="row milestone">
            <span><a href="">{% trans "Unassigned" %}</a></span>
        </div>
        <div class="row metaicon">
            <img class="delete" src="{% static 'imgs/close-icon.png' %}"></img>
        </div>
    </div>
</div>

<!-- it seems deprecated -->
{% comment %}
<div id="lightbox-backlog" style="display: none">
    <ul>
        {% for ml in milestones %}
        <li><a rel="{{ ml.id }}" href="{{ml.get_assign_url}}">{{ ml.name|capfirst }}</a></li>
        {% endfor %}
    </ul>
</div>
<div id="overlay"></div>
{% endcomment %}
{% endblock %}
