{% load static i18n %}

<div class="filters-box">

    {% trans "Tags" %}

    {% for tag in tags%}
        <span class="category {% if tag.id in selected_tags_ids %} selected {% else %} unselected {% endif %}" category="{{ tag.id }}">
            {{ tag }} {{tag.count}}
        </span>
    {% endfor %}
</div>

<div class="filters-bar collapsed">
    <span class="show-hide-filters-box">
        {% trans "Filters" %}
    </span>

    {% for tag in tags%}
        {% if tag.id in selected_tags_ids %}
        <span class="category selected" category="{{ tag.id }}">
            {{ tag }} {{tag.count}}
        </span>
        {% endif %}
    {% endfor %}

    {% if selected_tags_ids %}
        <span class="remove-filters">
            {% trans "¡Filters out!" %}
        </span>
    {% endif %}

</div>


<div class="head-title">
    <div class="row title">
        <span>
            <a href="#" order_by="subject">{% trans "User story" %}</a>
        </span>
    </div>
    <div class="row points">
        <span>
            <a href="#" order_by="points">{% trans "Points" %}</a>
        </span>
    </div>
    <div class="row priority">
        <span>
            <a href="#" order_by="priority">{% trans "Priority" %}</a>
        </span>
    </div>
    <div class="row metaicon"></div>
</div>

{% for us in unassigned_us %}
    {% include "user-story-item.html" with us=us %}
    {% if not forloop.last %}
        <hr>
    {% endif %}
{% endfor %}
