{% extends "base_base.html" %}
{% load url from future %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block top-headers %}{% endblock %}
{% block bottom-headers %}{% endblock %}
{% block title %}{{ block.super }}{% endblock %}

{% block middle-box %}
<div id="menu">
    <ul>
        <li><a href="{% url "web:profile" %}">{{ user.username }}</a></li>
        <li><a href="">{% trans "Configuration" %}</a></li>
        <li><a href="{% url "web:auth_logout" %}">{% trans "Logout" %}</a></li>
    </ul>
</div>
<div class="main-menu">
    {% block middle %}
    <ul class="left-menu menu-item">
        <li><a href="">{% trans "Backlog" %}</a></li>
        <li><a href="">{% trans "Dashboard" %}</a></li>
        <li><a href="">{% trans "Wiki" %}</a></li>
    </ul>

    <ul class="right-menu menu-item">
        <li><a href="">{% trans "Projects" %}</a></li>
        <li><a href="">{% trans "Settings" %}</a></li>
    </ul>
    {% endblock %}
</div>
<div id="wrapper">
    {% block wrapper %}{% endblock %}
</div>
{% endblock %}
