{% extends "base_base.html" %}
{% load url from future %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block top-headers %}{% endblock %}
{% block bottom-headers %}{% endblock %}

{% block middle-box %}
<div id="menu">
    <ul>
        <li><a href="{% url "web:profile" %}">{{ user.username }}</a></li>
        <li><a href="">{% trans "Configuracion" %}</a></li>
        <li><a href="">{% trans "Logout" %}</a></li>
    </ul>
</div>
<div id="wrapper">
    {% block wrapper %}{% endblock %}
</div>
{% endblock %}
