<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ MAIN_TITLE }}</title>
    {% block top-headers %}{% endblock %}
</head>
<body>
    <div id="head">
        <h1>{{ MAIN_TITLE }}</h1>
    </div>
    {% block middle-box %}{% endblock %}
    <div id="footer">
        <p>Powered by Greenmine ©</p>
    </div>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/general.css" type="text/css" media="handheld, all" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/general.js"></script>
    {% block bottom-headers %}{% endblock %}
</body>
</html>
