{% load url from future %}
{% load i18n %}
{% load cache %}
{% load static %}

{% if task.has_noncolumn_status %}
<div class="task-container non-closed-task" 
{% else %}
<div class="task-container" 
{% endif %}
        draggable="true" ref="{{ task.id }}" id="task-{{ task.id }}"
        current_status="{{ task.status }}"
        alter_url="{{ task.get_alter_api_url }}"
        reasign_url="{{ task.get_reassign_api_url }}">
    <div class="task">
        <div class="description">
            <a href="{{ task.get_view_url }}">{{ task.subject }}</a>
        </div>
        <div class="icons">
            <div class="assigned-to" ref="{{ task.assigned_to.id }}">
                {% if task.assigned_to %}
                    {% if task.assigned_to.get_full_name %}
                    <span class="title">{{ task.assigned_to.get_full_name }}</span>
                    {% else %}
                    <span class="title">{{ task.assigned_to.username }}</span>
                    {% endif %}
                {% else %}
                    {% trans "Unassigned" %}
                {% endif %}
            </div>
            <div class="current-status" status="{{ task.status }}">{{ task.get_status_display }}</div>
        </div>
    </div>
</div>
