{% load url from future %}
{% load i18n %}
{% load cache %}
{% load static %}

<tr class="user-story-row row" id="user-story-{{ us.id }}" ref="{{ us.id }}" 
        create_task_url="{{ us.get_task_create_url }}">
    <td class="user-story-col col">
        <div class="user-story-container">
            <div class="user-story">
                <div class="description">
                    <a href="{{ us.get_view_url }}">{{ us.subject }}</a>
                </div>
                <div class="icons">
                    <div class="points">{{ us.get_points_display }}</div>
                    <div class="new-task" href="#create-task-dialog">
                        <img src="{% static 'imgs/plus-icon.png' %}" title="{% trans "Add new tast to the user story." %}" />
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td class="task-col col open-task-col" tstatus="open">
        {% for task in us.tasks_new %}
            {% include "dashboard-userstory-task.html" with task=task %}
        {% endfor %}
    </td>
    <td class="task-col col progress-task-col" tstatus="progress">
        {% for task in us.tasks_progress %}
            {% include "dashboard-userstory-task.html" with task=task %}
        {% endfor %}
    </td>
    <td class="task-col col completed-task-col" tstatus="completed">
        {% for task in us.tasks_completed %}
            {% include "dashboard-userstory-task.html" with task=task %}
        {% endfor %}
    </td>
    <td class="task-col col closed-task-col" tstatus="closed">
        {% for task in us.tasks_closed %}
            {% include "dashboard-userstory-task.html" with task=task %}
        {% endfor %}
    </td>
</tr>
