{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block wrapper %}
<div id="dashboard">
    <div id="dashboard-actions">
        <a id="new-milestone" class="btn01" href="">Nuevo milestone</a>
        <a id="new-issue" class="btn01" href="">Nueva tarea</a>
    </div>
    <ul id="milestones">
        {% for mls in project.milestones.all %}
        <li class="milestone {% if forloop.first %}selected{% endif %}" 
            milestone="{{ mls.id }}" 
            milestoneurl="{{ mls.get_tasks_for_milestone_api_url }}">

            <div class="ml">{{ mls.name }}<div>12/03/2011 (<span>1/2</span>)</div></div>
            <a href="" class="edit"><img width="21" src="{{ STATIC_URL }}imgs/cog.png" /></a>
        </li>
        {% endfor %}

        <li class="milestone" milestone="0" milestoneurl="{{ project.get_unasigned_tasks_api_url }}">
            <div class="ml">{% trans "Unassigned" %}<div>(<span>4/20</span>)</div></div>
        </li>
    </ul>
    <div id="tasks-filters">
        <p>
            {{ filtersform.to.label }}
            {{ filtersform.to }}
        </p>
        <p>
            {{ filtersform.state.label }}
            {{ filtersform.state }}
        </p>
        <p>
            {{ filtersform.priority.label }}
            {{ filtersform.priority }}
        </p>
        <p>
            {{ filtersform.type.label }}
            {{ filtersform.type }}
        </p>                    
    </div>
    <ul id="tasks">
    </ul>

    <div id="milestone-lb">
        <form method="post" action="{{ project.get_milestone_create_api_url }}" class="inline">
            <fieldset>
                <p class="form-field">
                    <label for="">Nombre</label>
                    <input type="text" id="nombre-milestone" name="name" class="required" />
                </p>
                <p class="form-field">
                    <label for="">Fecha fin</label>
                    <input type="text" readonly id="fecha-milestone" name="finish_date" class="datepicker" />
                </p>
                <p class="width100 float-left">
                    <a id="close-milestone-lb" class="btn01" href="">Cancelar</a>    
                    <input class="btn01" type="submit" value="Guardar" />
                    <span class="ajax-loader"></span>
                </p>
            </fieldset>
        </form> 
    </div>

    <div id="issue-lb">
        <form method="post" action="auxiliar/json/task.json">
            <fieldset>
                <p class="form-field">
                    <label for="">Nombre</label>
                    <input type="text" id="nombre-issue" name="nombre-issue" class="required" />
                </p>
                <p class="form-field">
                    <label>Tipo</label>
                    <select class="required" name="type">
                        <option value="Tarea">Tarea</option>
                        <option value="Bug">Bug</option>
                    </select>                                
                </p>                              
                <p class="form-field">
                    <label for="">Descripción</label>
                    <textarea></textarea>
                </p>                          
                <p class="width100 float-left">
                    <a id="close-issue-lb" class="btn01" href="">Cancelar</a>    
                    <input class="btn01" type="submit" value="Guardar" />
                    <span class="ajax-loader"></span>
                </p>
                <p class="width100 float-left mt10">
                    <input class="btn01" type="submit" value="Guardar e ir al detalle" />
                </p>
            </fieldset>
        </form>                    
    </div>                
</div>
{% endblock %}
