{% load url from future %}
{% load i18n %}
{% load cache %}
{% load static %}

{% if task.has_noncolumn_status %}
<div class="task-container non-closed-task" 
{% else %}
<div class="task-container" 
{% endif %}
        draggable="true" ref="{{ task.id }}" id="task-{{ task.id }}"
        current_status="{{ task.status }}"
        alter_url="{{ task.get_alter_api_url }}"
        reasign_url="{{ task.get_reassign_api_url }}">
    <div class="task">
        <div class="description">
            <a>{{ task.subject }}</a>
        </div>
        <div class="icons">
            <select class="participants">
                <option value="">{% trans "Unassigned" %}</option>
                {% for participant in participants %}
                <option value="{{ participant.id }}" {% if participant.pk == task.assigned_to.pk%}selected{%endif %}>{{ participant.get_full_name }}</option>
                {% endfor %}
            </select>
            <select class="statuses">
                {% for key, value in status_list %}
                <option value="{{ key }}" {% if key == task.status %}selected{%endif%}>{{ value }}</option>
                {% endfor %}
            </select>
            <div class="task-edit">
                <a href="{{ task.get_view_url }}">
                    <img src="{% static 'imgs/plus-icon.png' %}" />
                </a>
            </div>
        </div>
    </div>
</div>
