{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.name }}{% endblock %}

{% block middle %}
<div id="dashboard-actions">
    <div class="left">
        <div id="bin"></div>
    </div>
    <div class="right">
        <a id="new-us" class="btn01" href="">Nueva US</a>
        <a id="new-issue" class="btn01" href="">Nueva tarea</a>
    </div>
</div>
<div id="form-inserts" class="hidden">
    <div class="close"></div>
    <div id="issue-lb" class="hidden lb">
        <h2>Nueva tarea / user story: </h2>
        <form method="post" action="" newaction="auxiliar/json/task.json">
            <div class="fieldset">
                <div class="field-inline">
                    <label>{{ form.subject.label }}</label>
                    {{ form.subject }}
                </div>
                <div class="field-inline">
                    <label>{{ form.estimation.label }}</label>
                    {{ form.estimation }}
                </div>
                <div class="field-inline">
                    <label>{{ form.type.label }}</label>
                    {{ form.type }}
                </div>
                <div class="field-inline">
                    <label>{{ form.status.label }}</label>
                    {{ form.status }}
                </div>
                <div class="field-inline">
                    <label>{{ form.priority.label }} </label>
                    {{ form.priority }}
                </div>
            </div>
            <div class="fieldset">
                <label>{{ form.milestone.label }}</label>
                {{ form.milestone }}
            </div>
            <div class="fieldset">
                <label>{{ form.description.label }}</label>
                {{ form.description }}
            </div>
            <div class="fieldset submit-fieldset">
                <div class="field-inline">
                    <input type="submit" value="Guardar" />
                </div>
                <div class="field-inline">
                    <input type="submit" value="Guardar y editar" />
                </div>
                <div class="field-inline">
                    <input class="cancel" type="button" value="Cancelar" />
                </div>
            </div>
        </form>                    
    </div>
</div>
{% endblock %}

{% block wrapper %}
<div id="milestone-dashboard">
    <div id="milestone-dashboard-title">
        <h2>{{ milestone.name }}</h2>
    </div>
    <div id="user-stories-module" rel="{{ milestone.get_task_modify_api_url }}">
        <div class="user-story-legend">
            <div class="user-story-header hfield">
                <b>User story: </b>
            </div>
            <div class="user-story-status hfield status-new">
                <b>New tasks...</b>
            </div>
            <div class="user-story-status hfield status-progess">
                <b>Tasks in progress...</b>
            </div>
            <div class="user-story-status hfield status-closed">
                <b>Tasks finished...</b>
            </div>
        </div>
        {% for us in uss %}
        {% include "modules/user-story-dashboard.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
