{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.name }}{% endblock %}

{% block middle %}
<div id="dashboard-actions">
    <div class="left">
        <div id="bin"></div>
    </div>
    <div class="right">
        <a id="project-admin" class="btn01" href="">{% trans "Project administration" %}</a>
        <a id="new-issue" class="btn01" href="">{% trans "New user story" %}</a>
        <!-- New milestone add in project admin section -->
    </div>
</div>
{% endblock %}

{% block wrapper %}
<div id="dashboard" rel="{{ project.get_milestones_list_api_url }}">
    <ul id="milestones">
    </ul>
    <div id="tasks-filters">
        <p>
            {{ filtersform.to }}
        </p>
        <p>
            {{ filtersform.state }}
        </p>
        <p>
            {{ filtersform.priority }}
        </p>
    </div>

    <!-- TODO: make this page for milestone -->
    <ul id="tasks"></ul>
</div>
{% endblock %}
