{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load cache %}
{% load static %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.name }}{% endblock %}

{% block wrapper %}
<div id="milestone-dashboard" rel="{{ milestone.id }}">
    {% include "messages.html" %}
    <div id="milestone-dashboard-title">
        <h1>Milestone: «{{ milestone.name }}»</h1>
        <br />
    </div>

    <div class="matrix" id="dashboard-matrix">
        <table>
            <thead>
                <tr class="header-row row">
                    <td class="user-story-col col">
                        <div class="text">{% trans "User story" %}</div>
                    </td>
                    <td class="task-col col open-task-col">
                        <div class="text">{% trans "New" %}</div>
                    </td>
                    <td class="task-col col progress-task-col">
                        <div class="text">{% trans "In progress" %}</div>
                    </td>
                    <td class="task-col col completed-task-col">
                        <div class="text">{% trans "Ready for test" %}</div>
                    </td>
                    <td class="task-col col closed-task-col">
                        <div class="text">{% trans "Closed" %}</div>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for us in user_stories %}
                    {% include "dashboard-userstory.html" with us=us %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="hidden" id="templates">
    <select class="participants">
        <option value="">{% trans "Unassigned" %}</option>
        {% for participant in participants %}
        <option value="{{ participant.id }}">{{ participant.get_full_name }}</option>
        {% endfor %}
    </select>
    <select class="statuses">
        {% for key, value in status_list %}
        <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
    </select>
</div>

{% endblock %}

{% block top-headers %}
<link type="text/css" media="screen" rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block bottom-headers %}
<script type="text/javascript" src="{% static "js/bb/dashboard.js" %}"></script>
{% endblock %}
