{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block wrapper %}
<div id="issue-detail">
    <div class="inline">
        <div class="form-field">
            <span class="label">{% trans "Subject" %}</span>
            <span>{{ issue.subject }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Status" %}</span>
            <span>{{ issue.get_status_display }}</span>
        </div>  
        <div class="form-field">
            <span class="label">{% trans "Type" %}</span>
            <span>{{ issue.get_type_display }}</span>
        </div>                      
        <div class="form-field">
            <span class="label">{% trans "Priority" %}</span>
            <span>{{ issue.get_priority_display }}</span>
        </div> 
        <div class="form-field">
            <span class="label">{% trans "Tested" %}</span>
            <span>{{ issue.tested|yesno }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Finish date" %}</span>
            <span>{{ issue.finish_date|date:"DATE_FORMAT" }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Watchers" %}</span>
            <span>
                {% for w in issue.watchers.all %}
                    {{ w.first_name }} {{ w.last_name }}{% if not forloop.last %},{% endif %}
                {% empty %}
                    {% trans "No watchers" %}
                {% endfor %}
            </span>
        </div>                  
        <div class="form-field">
            <span class="label">{% trans "Assigned to" %}</span>
            <span>{{ issue.assigned_to.first_name }} {{ issue.assigned_to.last_name }}</span>
        </div>
        {% if issue.description %}
        <div class="form-field width100">
            <span class="label">{% trans "Description" %}</span>
            {{ issue.description|linebreaks }}
        </div>
        {% endif %}
        <div class="form-field width100">
            <span class="label">Subtareas</span>
            <div class="subissue">
                <ul>
                    <li><a href="">Subtarea 1 (Estado: completada)</a></li>
                    <li><a href="">Subtarea 2 (Estado: completada)</a></li>
                    <li><a href="">Subtarea 3 (Estado: completada)</a></li>                            
                </ul>
            </div>
        </div>
        
        <div class="form-field width100">
            <span class="label">Ficheros</span>
            <ul>
                <li><a href="">Fichero 1 (1 mb)</a></li>
                <li><a href="">Fichero 2 (2 mb)</a></li>
                <li><a href="">Fichero 3 (2 mb)</a></li>
            </ul>
        </div>
        <div class="width100 float-left">
            <a href="" class="btn01 float-right">Editar</a>
            <a href="" class="btn01 float-right">Añadir subtarea</a>
        </div>                
        <hr/>
    </div>
    <div id="responses">
        <div class="response">
            <p class="name"><img width="30" src="./auxiliar/imgs/gravatar.jpg" /> Andrei</p>
            <div class="txt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam est, ultricies quis cursus a, pulvinar eget enim.</p>
                <p>Nullam auctor sodales dictum. Mauris id arcu nisi. Nulla sed ipsum id eros fermentum lacinia. Vestibulum molestie porttitor lectus, at volutpat nunc sodales non.</p>
            </div>
            <p class="files"><a href="">Fichero 1 (2 mb)</a>, <a href="">Fichero 2 (1 mb)</a></p>
        </div>
        <div class="response">
            <p class="name"><img width="30" src="./auxiliar/imgs/gravatar.jpg" /> Andrei</p>
            <div class="txt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam est, ultricies quis cursus a, pulvinar eget enim.</p>
                <p>Nullam auctor sodales dictum. Mauris id arcu nisi. Nulla sed ipsum id eros fermentum lacinia. Vestibulum molestie porttitor lectus, at volutpat nunc sodales non.</p>
            </div>
        </div> 
        
        <form class="validate" enctype="multipart/form-data" method="post" action="">
            <fieldset>
                <p class="form-field width100">
                    <textarea class="required" name="description"></textarea>
                </p>      
                <p class="form-field width100">
                    <label>Ficheros</label>
                    <input class="file" type="file" />
                </p>                        
                <p class="width100 float-left">
                    <input class="btn01" type="submit" value="Enviar" />
                </p>
            </fieldset>
        </form>                             
    </div>
</div>
{% endblock %}
