{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load greenmine_utils %}
{% load greenmine_markup %}
{% load i18n %}
{% load gravatar %}

{% block title %}
    <span class="separator"> &gt; </span>
    <span class="title-item"><a href="{{ project.get_dashboard_url }}">{{ project.name }}</a></span>
    <span class="separator"> &gt; </span>
    <span class="title-item">{% trans "Bugs" %}</span>
{% endblock %}

{% block wrapper %}
<div id="issues-view" class="show-module">
    <div class="context-menu">
        <ul>
            <li><a class="new-milestone" href="{{ task.get_edit_url }}?next={{ current_url }}">
                {% trans "Edit this task" %}</a>
            </li>
            <li><a class="new-milestone" href="{{ task.get_delete_url }}">
                {% trans "Delete this task" %}</a>
            </li>
        </ul>
    </div>
    {% include "messages.html" %}
    <div class="inline">
        <div class="form-field">
            <span class="label">{% trans "Subject" %}</span>
            <span>{{ task.subject }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Status" %}</span>
            <span>{{ task.get_status_display }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Tested" %}</span>
            <span>{{ user_story.tested|yesno }}</span>
        </div>
        {% if task.finish_date %}
        <div class="form-field">
            <span class="label">{% trans "Finish date" %}</span>
            <span>{{ task.finish_date|date:"DATE_FORMAT" }}</span>
        </div>
        {% endif %}

        {% if task.tags.all %}
        <div class="form-field">
            <span class="label">{% trans "Tags" %}</span>
            <span>{{ task.tags.all }}</span>
        </div>
        {% endif %}

        {% if task.description %}
        <div class="form-field width100">
            <span class="label">{% trans "Description" %}</span>
            <div class="wiki-content">
            {{ task.description|markup:project }}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="user-story-responses task-changes">
        <h3>{% trans "Changes history:" %}</h3>
        <div class="changes-list">
            {% for change in task.changes.all %}
                {% include "issues-view-change-part.html" %}
            {% endfor %}
        </div>
    </div>

    <div class="form-container response-form">
        <form enctype="multipart/form-data" method="post"
                action="{% url 'issues-send-comment' pslug=project.slug tref=task.ref %}">

            {% csrf_token %}
            <div class="form-row">
                <label>{% trans "Write your comment:" %}</label>
                {{ form.description.errors }}
                {{ form.description }}
            </div>
            <div class="form-row">
                {{ form.attached_file.label }}
                {{ form.attached_file.errors }}
                {{ form.attached_file }}
            </div>
            <div class="form-row submit-row">
                <input type="submit" class="btn01" value="{% trans "Send comment" %}" />
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block bottom-headers %}
<script type="text/javascript" src="{% static "js/bb/task.js" %}"></script>
<script type="text/javascript">
    Greenmine.mainView = new Greenmine.IssueView();
</script>
{% endblock %}

