{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}
{% load rawinclude greenmine_utils %}

{% block title %}
    <span class="separator"> &rsaquo; </span>
    <span class="title-item"><a href="{{ project.get_backlog_url }}">{{ project.name }}</a></span>
    <span class="separator"> &rsaquo; </span>
    <span class="title-item">{% trans "Tasks" %}</span>
{% endblock %}

{% block wrapper %}


<div id="issues" class="tasks-ds list-container" data-tasks-url="{{ current_url }}">

    Tags: <div id="tags-body"></div>
    Milestones: <div id="milestones-body"></div>
    Status: <div id="status-body"></div>
    Assigned to: <div id="assigned-to-body"></div>

    <div class="filters-box">

    </div>

    <div class="top-box">
        <div class="filters-container"></div>
        <div class="filters-bar">
            <div class="bar-title left">

                <span class="show-hide-filters-box">
                    {% trans "Filters" %}
                </span>

                {% for tag in filter_dict.tags %}
                    {% if tag.selected %}
                    <span class="tag">
                        <span class="category selected" category="{{ tag.id }}">
                            {{ tag.element }} {{tag.count}}
                        </span>
                    </span>
                    {% endif %}
                {% endfor %}

                {% for milestone in filter_dict.milestones%}
                    {% if milestone.selected %}
                    <span class="milestone">
                        <span class="category selected" category="{{ milestone.id }}">
                            {{ milestone.element }} {{milestone.count}}
                        </span>
                    </span>
                    {% endif %}
                {% endfor %}

                {% for status in filter_dict.status%}
                    {% if status.selected %}
                    <span class="status">
                        <span class="category selected" category="{{ status.id }}">
                            {{ status.element }} {{status.count}}
                        </span>
                    </span>
                    {% endif %}
                {% endfor %}

                {% for assigned_to in filter_dict.assigned_to%}
                    {% if assigned_to.selected %}
                    <span class="assigned_to">
                        <span class="category selected" category="{{ assigned_to.id }}">
                            {{ assigned_to.element }} {{assigned_to.count}}
                        </span>
                    </span>
                    {% endif %}
                {% endfor %}

                <span class="remove-filters">
                    {% trans "¡Filters out!" %}
                </span>

            </div>
            <div class="bar-button button right">{% trans "New bug" %}</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="middle-box">
        <div class="list-header">
            <div class="header-right right">
                <div class="header-item state left">{% trans "State" %}</div>
                <div class="header-item priority left">{% trans "Priority" %}</div>
                <div class="header-item assigned-to left">{% trans "Assigned to" %}</div>
                <div class="clearfix"></div>
            </div>
            <div class="header-left">
                <div class="header-item severity left">{% trans "Severity" %}</div>
                <div class="header-item title">{% trans "Bug" %}</div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="list-body">
            {% comment %}
            <div class="list-item">
                <div class="body-right right">
                    <div class="body-item state left">New</div>
                    <div class="body-item priority left">Low</div>
                    <div class="body-item assigned-to left">
                        <div class="assigned-button left" data-assigned-to-id="">
                            <div class="assigned-color left"></div>
                            <div class="assigned-name left">Alejandro Alonso</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="body-left">
                    <div class="body-item severity button left critical-color">Critical</div>
                    <div class="body-item title">
                        <div class="title-tags">
                            <div class="tag">Tag1</div>
                            <div class="tag">Tag2</div>
                        </div>
                        <div class="title-text">Clearly, the power of relational databases lies in relating tables to each other.</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="list-item">
                <div class="body-right right">
                    <div class="body-item state left">New</div>
                    <div class="body-item priority left">Low</div>
                    <div class="body-item assigned-to left">
                        <div class="assigned-button left" data-assigned-to-id="">
                            <div class="assigned-color left"></div>
                            <div class="assigned-name left">Alejandro Alonso</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="body-left">
                    <div class="body-item severity button left critical-color">Critical</div>
                    <div class="body-item title">
                        <div class="title-tags">
                            <div class="tag">Tag1</div>
                            <div class="tag">Tag2</div>
                        </div>
                        <div class="title-text">Clearly, the power of relational databases lies in relating tables to each other.</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}

{% comment %}
<div id="dashboard" class="tasks-ds" data-tasks-url="{{ current_url }}"
        data-milestone="{{ milestone.id }}">
    <div class="context-menu">
        <ul>
            <li><a class="filter-task" data-type="" href="">{% trans "Show all" %}</a></li>
            <li><a class="filter-task" data-type="closed" href="">{% trans "Hide closed" %}</a></li>
            <li><a class="new-milestone" href="{% url 'issues-create' pslug=project.slug %}?milestone={{ milestone.pk }}">
                {% trans "Create new issue" %}
            </a></li>
        </ul>
    </div>
    {% include "messages.html" %}
    <div class="left-block">
        <div class="unassigned-us">
            <div class="un-us-item head-title">
                <div class="row title">
                    <span><a href="" data-type="subject">{% trans "Subject" %}</a></span>
                    <br/>
                    Tags: <div id="tags-body"></div>
                    Milestones: <div id="milestones-body"></div>
                    Status: <div id="status-body"></div>
                    Assigned to: <div id="assigned-to-body"></div>
                </div>
                <div class="row status">
                    <span><a href="" data-type="status">{% trans "Status" %}</a></span>
                </div>
                <div class="row milestone">
                    <span><a href="" data-type="assigned_to">{% trans "Assigned to" %}</a></span>
                </div>
                <div class="row metaicon">
                    <span>{% trans "Actions" %}</span>
                </div>
            </div>
            <div id="task-list-body"></div>
        </div>
    </div>
    <div class="right-block">
        <div class="milestones simple-list">
            {% for ml in milestones %}
            <div class="milestone-item simple {% if ml == milestone %}selected{% endif %}" data-id="{{ ml.id }}">
                <div class="milestone-title">
                    <a class="text" href="{{ current_url }}?milestone={{ ml.pk }}">{{ ml.name|capfirst }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="delete-task-dialog" class="lightbox-dialog">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        {% trans "Are you sure you want to delete this?" %}
    </p>
    <p>
        <ul class="options">
            <li><a href="" class="delete">{% trans "Delete" %}</a></li>
            <li><a href="" class="close">{% trans "Cancel" %}</a></li>
        </ul>
    </p>
</div>
{% endblock %}
{% endcomment %}


{% block top-headers %}
<link type="text/css" media="screen" rel="stylesheet" href="{% static 'css/issues.css' %}" />
{% endblock %}

{% block bottom-headers %}
    {% raw_include "dot/task-include.html" %}
    {% raw_include "dot/tag-include.html" %}

    {% to_json tasks as tasks_json %}
    {% to_json filter_dict.tags as tags_json %}
    {% to_json filter_dict.milestones as milestones_json %}
    {% to_json filter_dict.status as status_json %}
    {% to_json filter_dict.assigned_to as assigned_to_json %}
    {% to_json statuses as statuses_json %}
    {% to_json participants as participants_json %}

    <script type="text/javascript" src="{% static "js/bb/tasks.js" %}"></script>
    <script type="text/javascript">
        Greenmine.statuses = {{ statuses_json }};
        Greenmine.participants = {{ participants_json }};

        Greenmine.issuesView = new Greenmine.TasksView();
        Greenmine.tagCollection.reset({{ tags_json }});
        Greenmine.milestoneCollection.reset({{ milestones_json }});
        Greenmine.statusCollection.reset({{ status_json }});
        Greenmine.assignedToCollection.reset({{ assigned_to_json }});
        Greenmine.taskCollection.reset({{ tasks_json }});
    </script>
{% endblock %}

