{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load greenmine_utils %}
{% load i18n %}

{% block title %}
    <span class="separator"> &rsaquo; </span>
    <span class="title-item"><a href="{{ project.get_backlog_url }}">{{ project.name }}</a></span>
    <span class="separator"> &rsaquo; </span>
    <span class="title-item">{% trans "Bugs" %}</span>
{% endblock %}

{% block wrapper %}

<div class="issue-create form-box">
    <div class="top-box">
        <div class="top-box-bar">
            <div class="buttons-area right">
                <div class="area-item button-unbordered data-url">{% trans "Cancel" %}</div>
                <div class="area-item button data-url" data-value="1">{% trans "Save" %}</div>
            </div>
            <div class="title-area">
                <div class="title">{% trans "Edit issue" %}:</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="middle-box">
        <div class="form-container">
            <form action="{{ full_current_url }}" method="post" class="inline">
                {% csrf_token %}

                <div class="form-row inline-row">
                    <div class="form-field">
                        <label>{{ form.subject.label }}</label>
                        {{ form.subject }}
                    </div>
                    <div class="form-field">
                        <label>{{ form.status.label }}</label>
                        {{ form.status }}
                    </div>
                    <div class="form-field">
                        <label>{{ form.priority.label }}</label>
                        {{ form.priority }}
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-row inline-row">
                    <div class="form-field">
                        <label>{{ form.milestone.label }}</label>
                        {{ form.milestone }}
                    </div>
                    <div class="form-field">
                        <label>{{ form.assigned_to.label }}</label>
                        {{ form.assigned_to }}
                    </div>
                    <div class="form-field">
                        <label>{{ form.tags.label }}</label>
                        {{ form.tags }}
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-field width100">
                    <label>{{ form.description.label }}</label>
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>
            </form>
        </div>
    </div>
    <div class="bottom-box">
        <div class="bottom-box-bar">
            <div class="buttons-area right">
                <div class="area-item button-unbordered data-url">{% trans "Cancel" %}</div>
                <div class="area-item button data-url" data-value="1">{% trans "Save" %}</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>




{% endblock %}

{% block bottom-headers %}
<script type="text/javascript" src="{% static "js/bb/task.js" %}"></script>
{% include "modules/wikiwidget.html" %}
{% endblock %}
