{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}
{% load rawinclude greenmine_utils %}

{% block title %}
    <span class="separator"> &rsaquo; </span>
    <span class="title-item"><a href="{{ project.get_backlog_url }}">{{ project.name }}</a></span>
    <span class="separator"> &rsaquo; </span>
    <span class="title-item">{% trans "Tasks" %}</span>
{% endblock %}

{% block wrapper %}


<div id="issues" class="tasks-ds list-container" data-tasks-url="{{ current_url }}">

    <div class="top-box">
        <div class="filters-container clearfix">
            <div id ="tags-filter-section" class="filter-section" related="#tags-body">{% trans "Tags" %}</div>
            <div id="tags-body" class="filter-group selected"></div>
            <div id ="milestones-filter-section" class="filter-section" related="#milestones-body">{% trans "Milestones" %}</div>
            <div id="milestones-body" class="filter-group"></div>
            <div id ="status-filter-section" class="filter-section" related="#status-body">{% trans "Status" %}</div>
            <div id="status-body" class="filter-group"></div>
            <div id ="assigned-to-filter-section" class="filter-section" related="#assigned-to-body">{% trans "Assigned to" %}</div>
            <div id="assigned-to-body" class="filter-group"></div>

            <div id="severity-filter-section" class="filter-section" related="#severity-body">{% trans "Severity" %}</div>
            <div id="severity-body" class="filter-group"></div>

            {% comment %}
            <div id ="priority-filter-section" class="filter-section" related="#priority">{% trans "Priority" %}</div>
            <div id="priority-body" class="filter-group"></div>
            {% endcomment %}
        </div>
        <div class="filters-bar">
            <div class="bar-title left">
                <span class="show-hide-filters-box">{% trans "Filters" %}</span>
                <div id="selected-filters"></div>
                <span class="remove-filters">{% trans "¡Filters out!" %}</span>
            </div>
            <div class="bar-button button right">
                <a href="{% url 'issues-create' pslug=project.slug %}">{% trans "New bug" %}</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="middle-box">
        <div class="list-header">
            <div class="header-right right">
                <div class="header-item buttons left"></div>
                <div class="header-item state left">{% trans "State" %}</div>
                <div class="header-item priority left">{% trans "Priority" %}</div>
                <div class="header-item assigned-to left">{% trans "Assigned to" %}</div>
                <div class="clearfix"></div>
            </div>
            <div class="header-left">
                <div class="header-item severity left">{% trans "Severity" %}</div>
                <div class="header-item title">{% trans "Bug" %}</div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="list-body">
        </div>
    </div>
</div>

<div class="issues-delete-dialog delete-dialog" id="issues-delete-dialog">
    <div class="dialog-container">
        <div class="dialog-text">{% trans "Are you sure you want to delete the task?" %}</div>
        <div class="dialog-buttons">
            <div class="button-gray left">
                <a href="#" class="delete">{% trans "Ok" %}</a>
            </div>
            <div class="button-gray left">
                <a href="#" class="close">{% trans "Cancelar" %}</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom-headers %}
    {% raw_include "dot/task-include.html" %}
    {% raw_include "dot/tag-include.html" %}

    {% to_json tasks as tasks_json %}
    {% to_json filter_dict.tags as tags_json %}
    {% to_json filter_dict.milestones as milestones_json %}
    {% to_json filter_dict.status as status_json %}
    {% to_json filter_dict.assigned_to as assigned_to_json %}
    {% to_json filter_dict.severity as severities_json %}
    {% to_json statuses as statuses_json %}
    {% to_json participants as participants_json %}

    <script type="text/javascript" src="{% static "js/bb/issues.js" %}"></script>
    <script type="text/javascript">
        Greenmine.statuses = {{ statuses_json }};
        Greenmine.participants = {{ participants_json }};
        Greenmine.Filters.tagCollection.reset({{ tags_json }});
        Greenmine.Filters.statusCollection.reset({{ status_json }});
        Greenmine.Filters.assignedToCollection.reset({{ assigned_to_json }});
        Greenmine.Filters.severityCollection.reset({{ severities_json }});

        Greenmine.issuesView = new Greenmine.TasksView();

        Greenmine.milestoneCollection.reset({{ milestones_json }});
        Greenmine.taskCollection.reset({{ tasks_json }});
    </script>
{% endblock %}

