{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}
{% load rawinclude greenmine_utils %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.slug }}</a> / {% trans "Issues" %}{% endblock %}

{% block wrapper %}
<div id="dashboard" class="tasks-ds" data-tasks-url="{{ current_url }}"
        data-milestone="{{ milestone.id }}">
    <div class="context-menu">
        <ul>
            <li><a class="filter-task" data-type="" href="">{% trans "Show all" %}</a></li>
            <li><a class="filter-task" data-type="closed" href="">{% trans "Hide closed" %}</a></li>
            <li><a class="new-milestone" href="{% url 'issues-create' pslug=project.slug %}?milestone={{ milestone.pk }}">
                {% trans "Create new issue" %}
            </a></li>
        </ul>
    </div>
    {% include "messages.html" %}
    <div class="left-block">
        <div class="unassigned-us">
            <div class="un-us-item head-title">
                <div class="row title">
                    <span><a href="" data-type="subject">{% trans "Subject" %}</a></span>
                    <br/>
                    Tags: <div id="tags-body"></div>
                    Milestones: <div id="milestones-body"></div>
                    Status: <div id="status-body"></div>
                    Assigned to: <div id="assigned-to-body"></div>
                </div>
                <div class="row status">
                    <span><a href="" data-type="status">{% trans "Status" %}</a></span>
                </div>
                <div class="row milestone">
                    <span><a href="" data-type="assigned_to">{% trans "Assigned to" %}</a></span>
                </div>
                <div class="row metaicon">
                    <span>{% trans "Actions" %}</span>
                </div>
            </div>
            <div id="task-list-body"></div>
        </div>
    </div>
    <div class="right-block">
        <div class="milestones simple-list">
            {% for ml in milestones %}
            <div class="milestone-item simple {% if ml == milestone %}selected{% endif %}" data-id="{{ ml.id }}">
                <div class="milestone-title">
                    <a class="text" href="{{ current_url }}?milestone={{ ml.pk }}">{{ ml.name|capfirst }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="delete-task-dialog" class="lightbox-dialog">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        {% trans "Are you sure you want to delete this?" %}
    </p>
    <p>
        <ul class="options">
            <li><a href="" class="delete">{% trans "Delete" %}</a></li>
            <li><a href="" class="close">{% trans "Cancel" %}</a></li>
        </ul>
    </p>
</div>
{% endblock %}


{% block top-headers %}
<link type="text/css" media="screen" rel="stylesheet" href="{% static 'css/issues.css' %}" />
{% endblock %}

{% block bottom-headers %}
{% raw_include "dot/task-include.html" %}
{% raw_include "dot/tag-include.html" %}

{% to_json tasks as tasks_json %}
{% to_json filter_dict.tags as tags_json %}
{% to_json filter_dict.milestones as milestones_json %}
{% to_json filter_dict.status as status_json %}
{% to_json filter_dict.assigned_to as assigned_to_json %}

<script type="text/javascript" src="{% static "js/doT.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bb/tasks.js" %}"></script>
<script type="text/javascript">
    Greenmine.issuesView = new Greenmine.TasksView();
    Greenmine.tagCollection.reset({{ tags_json }});
    Greenmine.milestoneCollection.reset({{ milestones_json }});
    Greenmine.statusCollection.reset({{ status_json }});
    console.log(1, {{ assigned_to_json }});
    Greenmine.assignedToCollection.reset({{ assigned_to_json }});
    Greenmine.taskCollection.reset({{ tasks_json }});
</script>
{% endblock %}

