{% extends "base.html" %}
{% load url from future %}
{% load greenmine_utils %}
{% load i18n %}

{% block wrapper %}
<div id="issue-detail">
    <div class="inline">
        <div class="form-field">
            <span class="label">{% trans "Subject" %}</span>
            <span>{{ issue.subject }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Status" %}</span>
            <span>{{ issue.get_status_display }}</span>
        </div>  
        <div class="form-field">
            <span class="label">{% trans "Type" %}</span>
            <span>{{ issue.get_type_display }}</span>
        </div>                      
        <div class="form-field">
            <span class="label">{% trans "Priority" %}</span>
            <span>{{ issue.get_priority_display }}</span>
        </div> 
        <div class="form-field">
            <span class="label">{% trans "Tested" %}</span>
            <span>{{ issue.tested|yesno }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Finish date" %}</span>
            <span>{{ issue.finish_date|date:"DATE_FORMAT" }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Watchers" %}</span>
            <span>
                {% for w in issue.watchers.all %}
                    {{ w.first_name }} {{ w.last_name }}{% if not forloop.last %},{% endif %}
                {% empty %}
                    {% trans "No watchers" %}
                {% endfor %}
            </span>
        </div>                  
        <div class="form-field">
            <span class="label">{% trans "Assigned to" %}</span>
            <span>{{ issue.assigned_to.first_name }} {{ issue.assigned_to.last_name }}</span>
        </div>
        {% if issue.description %}
        <div class="form-field width100">
            <span class="label">{% trans "Description" %}</span>
            {{ issue.description|linebreaks }}
        </div>
        {% endif %}

        {% with subtasks=issue.subtasks.all %}
        <div class="form-field width100">
            <span class="label">{% trans "Subtasks" %}</span>
            <div class="subissue">
                <ul>
                    {% for st in subtasks %}
                    <li><a href="">{{ st.subject }}</a></li>
                    {% empty %}
                    {% trans "No subtasks" %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endwith %}

        {% with files=issue.attached_files.all %}
            {% if files|length > 0 %}
            <div class="form-field width100">
                <span class="label">Ficheros</span>
                <ul>
                    <li><a href="">Fichero 1 (1 mb)</a></li>
                    <li><a href="">Fichero 2 (2 mb)</a></li>
                    <li><a href="">Fichero 3 (2 mb)</a></li>
                </ul>
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="width100 float-left">
            <a href="" class="btn01 float-right">Editar</a>
            <a href="" class="btn01 float-right">Añadir subtarea</a>
        </div>                
        <hr/>
    </div>
    <div id="responses">
        {% for response in issue.responses.all %}
        <div class="response">
            <p class="name">
                {% if response.owner.get_profile.photo %}
                <img width="30" src="{{ response.owner.get_profile.photo.url }}" />
                {% else %}
                <img width="30" src="{{ STATIC_URL }}auxiliar/imgs/gravatar.jpg" />
                {% endif %}
                {{ response.owner.first_name }} {{ response.owner.last_name }}
            </p>
            <div class="txt">{{ response.content|linebreaks }}</div>
            {% with responsefiles=response.attached_files.all %}
                {% if responsefiles|length > 0 %}
                <p>
                    {% for file in responsefiles %}
                    <a href="{{ file.attached_file.url }}">{{ file.attached_file.name }} ( {{file.attached_file.size|hsize }} )</a>
                    {% endfor %}
                </p>
                {% endif %}
            {% endwith %}
        </div>
        {% endfor %}

        <form class="validate" enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <fieldset>
                <p class="form-field width100">
                    {{ form.description }}
                    {{ form.description.errors }}
                </p>      
                <p class="form-field width100">
                    {{ form.attached_file.label }}
                    {{ form.attached_file }}
                </p>                        
                <p class="width100 float-left">
                    <input class="btn01" type="submit" value="Enviar" />
                </p>
            </fieldset>
        </form>                             
    </div>
</div>
{% endblock %}
