{% extends "base_base.html" %}
{% load url from future %}
{% load i18n %}

{% block middle-box %}
<div id="login">
    {% include "messages.html" %}
    <form id="login-form" method="post" action=""  >
        {% csrf_token %}
        <fieldset>
            <div class="form-field">
                <label>{{ form.username.label }}</label>
                {{ form.username.errors }}
                {{ form.username }}
            </div>
            <div class="form-field">
                <label>{{ form.password.label }}</label>
                {{ form.password.errors }}
                {{ form.password }}
            </div>
            
            <p class="forgot-pass">
                <a href="{% url 'web:remember-password' %}">{% trans "Forgot your password?" %}</a><br />
                <a id="open-forgotten-password-form" href="{% url 'web:register' %}">{% trans "Register" %}</a>
            </p>

            <div class="form-field">
                <input class="btn01" type="submit" value="{% trans "Login" %}" />
                <span class="ajax-loader"></span>        
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
