{% extends "base_base.html" %}
{% load url from future %}

{% block middle-box %}
<div id="login">
    <form id="login-form" method="post" action=""  >
        {% csrf_token %}
        <fieldset>
            <div class="form-field">
                <label>{{ form.username.label }}</label>
                {{ form.username.errors }}
                {{ form.username }}
            </div>
            <div class="form-field">
                <label>{{ form.password.label }}</label>
                {{ form.password.errors }}
                {{ form.password }}
            </div>
            <p class="forgot-pass"><a id="open-forgotten-password-form" href="{% url 'web:remember-password' %}">¿Olvidaste la contraseña?</a></p>
            <div class="form-field">
                <input class="btn01" type="submit" value="Entrar" />
                <span class="ajax-loader"></span>        
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
