{% load url from future %}
{% load i18n %}

<ul class="right-menu menu-item">
    <li><a href="{% url 'web:projects' %}" class="{{ menu.in_projects }}">{% trans "Projects" %}</a></li>
    {% if user.is_staff %}
    <li><a href="{% url 'web:users' %}" class="{{ menu.in_users }}">{% trans "Users" %}</a></li>
    {% endif %}
    {% if menu.in_projects == "" and menu.in_users == "" %}
      {% if project.owner == user or user in project.participants.all %}
        <li><a href="{{ project.get_settings_url }}" class="{{ menu.in_settings }}">{% trans "Settings" %}</a></li>
      {% endif %}
    {% endif %}
</ul>
