{% load i18n %}

{% if is_paginated %}
<div class="paginator-block">
    {% if page.has_previous %}
    <a href="{{ current_url }}?page={{ page.previous_page_number }}">{% trans "Previous" %}</a>
    {% endif %}
    <span class="current">
{% blocktrans with number=page.number total=page.paginator.num_pages %}
Page {{ number }} of {{ total }}
{% endblocktrans %}
    </span>
    {% if page.has_next %}
    <a href="{{ current_url }}?page={{ page.next_page_number }}">{% trans "Next" %}</a>
    {% endif %}
</div>
{% endif %}
