{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{{ block.super }} / Profile / Password{% endblock %}

{% block middle %}
{% endblock %}

{% block wrapper %}
<div id="my-profile">
    <div class="context-menu">
        <ul>
            <li><a class="new-milestone" href="{% url 'web:profile' %}">{% trans "Volver" %}</a></li>
        </ul>
    </div>
    {% include "messages.html" %}
    <div class="form-container">
        <div class="form-legend">
            <span>{% trans "Password change form:" %}</span>
        </div>
        <form id="edit-profile-form" method="post" enctype="multipart/form-data"
            action="{% url 'web:profile-password' %}" class="inline">
            {% csrf_token %}
            <div class="form-field">
                <label>{{ form.password.label }}</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <div class="form-field">
                <label>{{ form.password2.label }}</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <div class="width100 float-left">
                <input class="btn01" type="submit" value="{% trans "Save" %}" />
                <span class="ajax-loader"></span>        
            </div>
        </form>
    </div>
</div>
{% endblock %}
