{% extends "base_base.html" %}
{% load url from future %}

{% load i18n %}

{% block middle-box %}
<div id="password-recovery">
    {% include "messages.html" %}
    <form id="password-recovery-form" method="post" action="{{ full_current_url }}">
        {% csrf_token %}
        <fieldset>
            <div class="form-field">
                <label>{{ form.password.label }}</label>
                {{ form.password.errors }}
                {{ form.password }}
            </div>
            <div class="form-field">
                <label>{{ form.password2.label }}</label>
                {{ form.password2.errors }}
                {{ form.password2 }}
            </div>
            <div class="form-field">
                <input class="btn01" type="submit" value="{% trans "Go" %}" />
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
