{% extends "base.html" %}
{% load url from future %}
{% load greenmine_utils %}
{% load i18n %}
{% load l10n %}
{% load gravatar %}

{% block title %}
<span class="separator"> &rsaquo; </span>
<span class="title-item">{% trans "Profile" %}</span>
{% endblock %}

{% block bottom-headers %}
    {% include "modules/wikiwidget.html" %}
{% endblock %}

{% block wrapper %}
<div class="profile form-box">
    <div class="top-box">
        <div class="top-box-bar">
            <div class="buttons-area right">
                <div class="area-item button-unbordered data-url">{% trans "Cancel" %}</div>
                <div class="area-item button-unbordered data-url" data-value="1">{% trans "Save" %}</div>
            </div>
            <div class="title-area">
                <div class="title">{% trans "Profile" %}:</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="middle-box">
        <div class="form-container">
            <form method="post" action="{% url  'profile' %}">
                {% csrf_token %}
                <div class="form-row inline-row">
                    <div class="form-field">
                        <label>{{ form.first_name.label }}</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-field">
                        <label>{{ form.last_name.label }}</label>
                        {{ form.last_name }}
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-row inline-row">
                    <div class="form-field">
                        <label>{{ form.username.label }}</label>
                        {{ form.username }}
                    </div>
                    <div class="form-field">
                        <label>{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-row inline-row">
                    <div class="form-field width100">
                        <label>{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-row inline-row">
                    <div class="form-field">
                        <label>{{ form.colorize_tags.label }}</label>
                        {{ form.colorize_tags }}
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-row inline-row">
                    <div class="form-field">
                        {% if not user.get_profile.photo %}
                            {% gravatar user.email 50 %}
                        {% else %}
                            <img width="50" src="{{ user.get_profile.photo.url }}" />
                        {% endif %}

                        {{ form.photo.label }}
                        {{ form.photo }}
                        {{ form.photo.errors }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom-box">
        <div class="bottom-box-bar">
            <div class="buttons-area right">
                <div class="area-item button-unbordered data-url">{% trans "Cancel" %}</div>
                <div class="area-item button-unbordered data-url" data-url="">{% trans "Save" %}</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
