{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block wrapper %}
<div id="project">
    <form id="new-project-form" method="post" class="validate">
        {% csrf_token %}
        {% include "messages.html" %}
        <fieldset>
            <div class="form-field">
                <label>{{ form.name.label }}</label>
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="form-field width100">
                <label>{{ form.description.label }}</label>
                {{ form.description }}
                {{ form.description.errors }}
            </div>
            <div id="user-project">
                <div class="users-added">
                    <table class="table01">
                        <tbody>
                            <tr>
                                <th class="th1">{% trans "Owner" %}</th>
                                <th class="th2">{% trans "Role" %}</th>
                                <th class="th3">{% trans "Options" %}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="users-roles">
                    <fieldset class="fsborder">
                        <legend>{% trans "Users" %}:</legend>
                        <input type="text" name="username" class="user-autocomplete" link="{% url "api:user-list" %}" />
                        <input type="hidden" class="user-currentvalue" value="" />
                    </fieldset>
                    <fieldset class="fsborder">
                        <legend>{% trans "Role" %}:</legend>
                        <select name="rol-aux">
                            {% for rol in roles %}
                            <option value="{{ rol.id }}">{{ rol.name }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <input id="btn-usr-project" type="button" value="{% trans "Add" %}" class="btn01" />
                </div>
            </div>
            <div class="width100 float-left">
                <input class="btn01" type="submit" value="{% trans "Save" %}" />
                <a href="{% url 'web:projects' %}" class="btn01">{% trans "Volver" %}</a>
                <span class="ajax-loader"></span>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
