{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}
{% load gravatar %}

{% block wrapper %}
<div id="projects">
    <div class="context-menu">
        <ul>
            <li><a class="new-us" href="{% url 'web:project-create' %}">{% trans "Create project" %}</a></li>
        </ul>
    </div>

    {% include "messages.html" %}
    
    <h1>{% trans "My projects:" %}</h1>

    {% if page.paginator.count > 0 %}
    <table class="table01">
        <tr>
            <th>{% trans "Project name" %}</th>
            <th>{% trans "Owner" %}</th>
            <th>{% trans "Opctions" %}</th>
        </tr>
        {% for project in page.object_list %}
        <tr>
            <td><a href="{{ project.get_backlog_url }}">{{ project.name }}</a></td>
            <td>
                {% if project.owner.get_profile.photo %}
                    <img width="30" src="{{ project.owner.get_profile.photo.url }}" />{{ project.owner.get_full_name }}
                {% else %}
                    {% gravatar project.owner.email 30 %}
                {% endif %}
            </td>
            <td><a href="{{project.get_edit_url}}">{% trans "Modify" %}</a> | 
                <a class="delete" rel="{{ project.get_delete_url }}" href="">{% trans "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>No tiene ningun proyecto, crea uno!</h2>
    {% endif %}

    {% include "paginator.html" %}
</div>

<div class="delete-project-dialog" style="display: none" title="{% trans "Are you sure?" %}">
    <p>{% trans "Are you sure you want to delete this project?" %}
</div>
{% endblock %}
