{% extends "base_base.html" %}
{% load url from future %}

{% block middle-box %}
<div id="login">
    <form id="forgotten-password-form" method="post" action="{% url 'api:password-forgotten' %}">
        {% csrf_token %}
        <fieldset>
            <div class="form-field">
                <label>{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="form-field">
                <span class="ajax-loader"></span>
                <input class="btn01" type="submit" value="Recordar" />
                <a id="close-forgotten-password-form" class="btn01" href="{% url 'web:login' %}">Cancelar</a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
