{% extends "base.html" %}
{% load url from future %}
{% load greenmine_utils %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.name }}{% endblock %}

{% block wrapper %}
<div id="user-story-module">
    <div class="user-story-create" class="form-container">
        <div class="form-legend">
            <span>{% trans "Edit task:" %}</span>
        </div>

        <form action="{{ current_url }}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn01" value="{% trans "Save" %}" />
        </form>
    </div>
</div>
{% endblock %}
