{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.name }}{% endblock %}

{% block wrapper %}
<div id="dashboard" class="tasks-ds" rel="{{ project.get_milestones_list_api_url }}">
    <div class="left-block">
        <div class="unassigned-us">
            <div class="un-us-item head-title">
                <div class="row identify">
                    <span>{% trans "Ref." %}</span>
                </div>
                <div class="row title">
                    <span>{% trans "Subject" %}</span>
                </div>
                <div class="row us">
                    <span>{% trans "US" %}</span>
                </div>
                <div class="row status">
                    <span>{% trans "Status" %}</span>
                </div>
                <div class="row milestone">
                    <span>{% trans "Assinged to" %}</span>
                </div>
                <div class="row metaicon">
                    <span>{% trans "Acctions" %}</span>
                </div>
            </div>
            {% for task in tasks %}
            <div class="un-us-item">
                <div class="row identify">
                    <span><a href="{{ task.get_view_url }}">{{ task.ref }}</a></span>
                </div>
                <div class="row title">
                    <span><a href="{{ task.get_view_url }}">{{ task.subject|truncatechars:45 }}</a></span>
                </div>
                <div class="row us">
                    <span><a href="">{{ task.user_story.ref|default:"Null" }}</a></span>
                </div>
                <div class="row status">
                    <span>{{ task.get_status_display }}</span>
                </div>
                <div class="row milestone">
                    <span><a href="">{% trans "Unassigned" %}</a></span>
                </div>
                <div class="row metaicon">
                    <img class="delete" src="{% static 'imgs/close-icon.png' %}"></img>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>       
    <div class="right-block">
        <div class="context-menu">
            <ul>
                <li><a class="new-milestone" href="{{ project.get_task_create_url }}?milestone={{ milestone.id }}">
                    {% trans "Create new task" %}</a></li>
            </ul>
        </div>
        <div class="milestones simple-list">
            {% for ml in milestones %}
            <div class="milestone-item simple {% if ml == milestone %}selected{% endif %}">
                <div class="milestone-title">
                    <a class="text" href="{{ ml.get_tasks_url }}">{{ ml.name|capfirst }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="unassign-dialog" style="display: none" title="{% trans "What do you do?" %}">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        {% trans "Choose the appropriate option." %}
    </p>
</div>

<div class="assign-dialog" style="display: none" title="">
</div>

<div class="delete-milestone-dialog" style="display: none" title="{% trans "Are you sure?" %}">
    <p>{% trans "Are you sure you want to delete this milestone?" %}
</div>


<div id="examples" style="display: none">
    <div class="us-item">
        <div class="us-title">{{ us.subject|truncatechars:40 }}</div>
        <div class="us-meta">
            <div class="meta-data" style="display: none"
                viewurl=""
                ref=""
                priorityid=""
                priority=""
                points=""></div>
            <a href="" class="unassign"><img src="{% static 'imgs/close-icon.png' %}"></img></a>
        </div>
    </div>
    <div class="un-us-item">
        <div class="row identify">
            <span><a href=""></a></span>
        </div>
        <div class="row title">
            <span><a href=""></a></span>
        </div>
        <div class="row points">
            <span></span>
        </div>
        <div class="row priority">
            <span priprity=""></span>
        </div>
        <div class="row milestone">
            <span><a href="">{% trans "Unassigned" %}</a></span>
        </div>
        <div class="row metaicon">
            <img class="delete" src="{% static 'imgs/close-icon.png' %}"></img>
        </div>
    </div>
</div>
{% endblock %}
