{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load greenmine_utils %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.name }}{% endblock %}

{% block wrapper %}
<div id="user-story-module">
    <div class="context-menu">
        <ul>
            <li><a class="new-milestone" href="{{ task.get_edit_url }}?next={{ current_url }}">
                {% trans "Edit this task" %}</a>
            </li>
            <li><a class="new-milestone" href="{{ task.get_delete_url }}">
                {% trans "Delete this task" %}</a>
            </li>
        </ul>
    </div>
    {% include "messages.html" %}
    <div class="inline">
        <div class="form-field">
            <span class="label">{% trans "Task subject" %}</span>
            <span>{{ task.subject }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Status" %}</span>
            <span>{{ task.get_status_display }}</span>
        </div> 
        <div class="form-field">
            <span class="label">{% trans "Tested" %}</span>
            <span>{{ user_story.tested|yesno }}</span>
        </div>
        {% if task.finish_date %}
        <div class="form-field">
            <span class="label">{% trans "Finish date" %}</span>
            <span>{{ .finish_date|date:"DATE_FORMAT" }}</span>
        </div>
        {% endif %}
        {% if task.description %}
        <div class="form-field width100">
            <span class="label">{% trans "Description" %}</span>
            {{ task.description|linebreaks }}
        </div>
        {% endif %}
        
        {% with files=task.attached_files.all %}
            {% if files|length > 0 %}
            <div class="form-field width100">
                <span class="label">Ficheros</span>
                <ul>
                    <li><a href="">Fichero 1 (1 mb)</a></li>
                    <li><a href="">Fichero 2 (2 mb)</a></li>
                    <li><a href="">Fichero 3 (2 mb)</a></li>
                </ul>
            </div>
            {% endif %}
        {% endwith %}
    </div>
    
    <div class="user-story-responses">
        <div class="responses-list">
            {% with responses=task.responses.all %}
                {% if responses|length > 0 %}
                <div class="responses-title">
                    <span>{% trans "Responses:" %}</span>
                </div>
                {% for response in responses %}
                <div class="response">
                    <div class="col">
                        <div class="icon">
                            {% if response.owner.get_profile.photo %}
                            <img width="30" src="{{ response.owner.get_profile.photo.url }}" />
                            {% else %}
                            <img width="30" src="{{ STATIC_URL }}auxiliar/imgs/gravatar.jpg" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="col second-col">
                        <div class="name">
                            {{ response.owner.first_name }} {{ response.owner.last_name }}
                        </div>
                        <div class="content">
                            {{ response.content|linebreaks }}
                        </div>

                        <div class="content-files">
                            {% with responsefiles=response.attached_files.all %}
                                {% if responsefiles|length > 0 %}
                                <p>
                                    {% for file in responsefiles %}
                                    <a href="{{ file.attached_file.url }}">
                                        {{ file.attached_file.name }} ( {{file.attached_file.size|hsize }} )
                                    </a>
                                    {% endfor %}
                                </p>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="form-container response-form">
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <div class="form-row">
                <label>{% trans "Write your comment:" %}</label>
                {{ form.description.errors }}
                {{ form.description }}
            </div>
            <div class="form-row">
                {{ form.attached_file.label }}
                {{ form.attached_file.errors }}
                {{ form.attached_file }}
            </div>
            <div class="form-row submit-row">
                <input type="submit" class="btn01" value="{% trans "Send comment" %}" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
