{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.slug }}</a> / {% trans "Tasks" %}{% endblock %}

{% block wrapper %}
<div id="dashboard" class="tasks-ds" rel="{{ project.get_milestones_list_api_url }}">
    <div class="context-menu">
        <ul>
            <li><a class="filter-by-none" href="{{ milestone.get_tasks_url }}">
                {% trans "Show all" %}</a></li>
            <li><a class="filter-by-task" href="{{ milestone.get_tasks_url_filter_by_task }}">
                {% trans "Show only tasks" %}</a></li>
            <li><a class="filter-by-bug" href="{{ milestone.get_tasks_url_filter_by_bug }}">
                {% trans "Show only bugs" %}</a></li>
            <li><a class="new-milestone" href="{{ milestone.get_task_create_url }}">
                {% trans "Create new task/bug" %}</a></li>
        </ul>
    </div>
    {% include "messages.html" %}
    <div class="left-block">
        <div class="unassigned-us">
            <div class="un-us-item head-title">
                <div class="row title">
                    <span><a href="?order_by=subject">{% trans "Subject" %}</a></span>
                </div>
                <div class="row type">
                    <span><a href="?order_by=type">{% trans "Type" %}</a></span>
                </div>
                <div class="row us">
                    <span><a href="?order_by=user_story">{% trans "US" %}</a></span>
                </div>
                <div class="row status">
                    <span><a href="?order_by=status">{% trans "Status" %}</a></span>
                </div>
                <div class="row milestone">
                    <span><a href="?order_by=assigned_to">{% trans "Assinged to" %}</a></span>
                </div>
                <div class="row metaicon">
                    <span>{% trans "Acctions" %}</span>
                </div>
            </div>
            {% for task in tasks %}
            <div class="un-us-item">
                <div class="row title">
                    <span><a href="{{ task.get_view_url }}">{{ task.subject|truncatechars:60 }}</a></span>
                </div>
                <div class="row type">
                    <span>{{ task.get_type_display }}</span>
                </div>
                <div class="row us">
                    <span><a href="">{{ task.user_story.ref|default:"Null" }}</a></span>
                </div>
                <div class="row status">
                    <span>{{ task.get_status_display }}</span>
                </div>
                <div class="row milestone">
                    {% if task.assigned_to %}
                    <span><a href="">{{ task.assigned_to.get_full_name }}</a></span>
                    {% else %}
                    <span>{% trans "Unassigned" %}</span>
                    {% endif %}
                </div>
                <div class="row metaicon">
                    <img class="delete" src="{% static 'imgs/close-icon.png' %}" 
                        deleteurl="{{ task.get_delete_url }}"></img>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>       
    <div class="right-block">
        <div class="milestones simple-list">
            {% for ml in milestones %}
            <div class="milestone-item simple {% if ml == milestone %}selected{% endif %}">
                <div class="milestone-title">
                    <a class="text" href="{{ ml.get_tasks_url }}">{{ ml.name|capfirst }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="unassign-dialog" style="display: none" title="{% trans "What do you do?" %}">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        {% trans "Choose the appropriate option." %}
    </p>
</div>

<div class="assign-dialog" style="display: none" title="">
</div>

<div class="delete-milestone-dialog" style="display: none" title="{% trans "Are you sure?" %}">
    <p>{% trans "Are you sure you want to delete this milestone?" %}
</div>


<div id="examples" style="display: none">
    <div class="us-item">
        <div class="us-title">{{ us.subject|truncatechars:40 }}</div>
        <div class="us-meta">
            <div class="meta-data" style="display: none"
                viewurl=""
                ref=""
                priorityid=""
                priority=""
                points=""></div>
            <a href="" class="unassign"><img src="{% static 'imgs/close-icon.png' %}"></img></a>
        </div>
    </div>
    <div class="un-us-item">
        <div class="row identify">
            <span><a href=""></a></span>
        </div>
        <div class="row title">
            <span><a href=""></a></span>
        </div>
        <div class="row points">
            <span></span>
        </div>
        <div class="row priority">
            <span priprity=""></span>
        </div>
        <div class="row milestone">
            <span><a href="">{% trans "Unassigned" %}</a></span>
        </div>
        <div class="row metaicon">
            <img class="delete" src="{% static 'imgs/close-icon.png' %}"></img>
        </div>
    </div>
</div>
{% endblock %}
