{% extends "base.html" %}
{% load url from future %}
{% load greenmine_utils %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.name }}{% endblock %}

{% block middle %}
<div id="dashboard-actions">
    <div class="left">
        <div id="bin"></div>
    </div>
    <div class="right">
        <a id="us-edit" class="btn01" href="">Editar</a>
        <a id="new-task" class="btn01" href="">Nueva tarea</a>
    </div>
</div>
<div id="form-inserts" class="hidden">
    <div id="task-lb" class="hidden lb">
        <h2>Nueva tarea: </h2>
        <form method="post" action="{{ milestone.get_create_task_url }}">
            <div class="fieldset">
                <div class="field-inline">
                    <label>{{ taskform.subject.label }}</label>
                    {{ taskform.subject }}
                </div>
                <div class="field-inline">
                    <label>{{ taskform.us.label }}</label>
                    {{ taskform.us }}
                </div>
                <div class="field-inline">
                    <label>{{ taskform.priority.label }} </label>
                    {{ taskform.priority }}
                </div>
                <div class="field-inline">
                    <label>{{ taskform.assigned_to.label }} </label>
                    {{ taskform.assigned_to }}
                </div>
            </div>
            <div class="fieldset">
                <label>{{ taskform.description.label }}</label>
                {{ taskform.description }}
            </div>
            <div class="fieldset submit-fieldset">
                <div class="field-inline">
                    <input type="submit" value="Guardar" />
                </div>
                <div class="field-inline">
                    <input class="cancel" type="button" value="Cancelar" />
                </div>
            </div>
        </form>                    
    </div>
</div>
{% endblock %}

{% block wrapper %}
<div id="us-module">
    <div class="inline">
        <div class="form-field">
            <span class="label">{% trans "Subject" %}</span>
            <span>{{ us.subject }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Priority" %}</span>
            <span>{{ us.get_priority_display }}</span>
        </div> 
        <div class="form-field">
            <span class="label">{% trans "Tested" %}</span>
            <span>{{ us.tested|yesno }}</span>
        </div>
        {% if us.finish_date %}
        <div class="form-field">
            <span class="label">{% trans "Finish date" %}</span>
            <span>{{ us.finish_date|date:"DATE_FORMAT" }}</span>
        </div>
        {% endif %}
        {% if us.description %}
        <div class="form-field width100">
            <span class="label">{% trans "Description" %}</span>
            {{ us.description|linebreaks }}
        </div>
        {% endif %}

        {% with subtasks=us.tasks.all %}
        <div class="form-field width100 tasks">
            <div class="user-story-legend">
                <div class="user-story-status hfield status-new">
                    <b>New tasks...</b>
                </div>
                <div class="user-story-status hfield status-progess">
                    <b>Tasks in progress...</b>
                </div>
                <div class="user-story-status hfield status-closed">
                    <b>Tasks finished...</b>
                </div>
            </div>
            <div class="user-story">
                <div class="user-story-status hfield status-new" rel="new">
                    {% for task in us.tasks_new %}
                        {% include "modules/task-user-story.html" %}
                    {% endfor %}
                </div>
                <div class="user-story-status hfield status-progess" rel="progress">
                    {% for task in us.tasks_progress %}
                        {% include "modules/task-user-story.html" %}
                    {% endfor %}
                </div>
                <div class="user-story-status hfield status-closed" rel="close">
                    {% for task in us.tasks_closed %}
                        {% include "modules/task-user-story.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endwith %}
        
        {% comment %}
        {% with files=us.attached_files.all %}
            {% if files|length > 0 %}
            <div class="form-field width100">
                <span class="label">Ficheros</span>
                <ul>
                    <li><a href="">Fichero 1 (1 mb)</a></li>
                    <li><a href="">Fichero 2 (2 mb)</a></li>
                    <li><a href="">Fichero 3 (2 mb)</a></li>
                </ul>
            </div>
            {% endif %}
        {% endwith %}
        {% endcomment %}
    </div>
    <div id="responses">
        {% for response in us.responses.all %}
        <div class="response">
            <p class="name">
                {% if response.owner.get_profile.photo %}
                <img width="30" src="{{ response.owner.get_profile.photo.url }}" />
                {% else %}
                <img width="30" src="{{ STATIC_URL }}auxiliar/imgs/gravatar.jpg" />
                {% endif %}
                {{ response.owner.first_name }} {{ response.owner.last_name }}
            </p>
            <div class="txt">{{ response.content|linebreaks }}</div>
            {% with responsefiles=response.attached_files.all %}
                {% if responsefiles|length > 0 %}
                <p>
                    {% for file in responsefiles %}
                    <a href="{{ file.attached_file.url }}">{{ file.attached_file.name }} ( {{file.attached_file.size|hsize }} )</a>
                    {% endfor %}
                </p>
                {% endif %}
            {% endwith %}
        </div>
        {% endfor %}

        <form class="validate" enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <fieldset>
                <p class="form-field width100">
                    <label>Escriba su comentario:</label>
                    {{ form.description }}
                    {{ form.description.errors }}
                </p>      
                <p class="form-field width100">
                    {{ form.attached_file.label }}
                    {{ form.attached_file }}
                </p>                        
                <p class="width100 float-left">
                    <input class="btn01" type="submit" value="Enviar" />
                </p>
            </fieldset>
        </form>                             
    </div>
</div>
{% endblock %}
