{% load static from staticfiles %}
{% load greenmine_utils %}
{% load i18n %}

<div class="un-us-item" draggable="true" id="un-us-item-{{ us.id }}" ref="{{ us.ref }}"
    assignurl="{{ us.get_assign_url }}" unassignurl="{{ us.get_unassign_url }}">
    <div class="row points">
        <span>{{ us.get_points_display }}</span>
    </div>
    <div class="row priority">
        <span priority="{{ us.priority }}">{{ us.priority }}</span>
    </div>
    <div class="row milestone">
        <span><a rel="{{ us.ref }}" href=""></a></span>
    </div>

    <div class="row meta">
        <a href="{{ us.get_view_url }}">
            {% trans "Detail" %}
        </a>

        <a href="{{ us.get_edit_inline_url }}" class="mledit">
            {% trans "Edit" %}
        </a>

        <a href="{{ us.get_delete_url }}" class="delete">
            {% trans "Delete" %}
        </a>
    </div>

    <div class="row title">

        {% with us.tags.all as us_tags%}

            {% if us_tags %}
                {% for us_tag in us_tags %}
                <span class="category unselected" category="{{ us_tag.id }}">
                    {{ us_tag }}
                </span>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <span>
            {{ us.subject|truncatechars:85 }}
        </span>
    </div>

    <div class="form-inline"></div>
</div>
