{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load greenmine_utils %}
{% load greenmine_markup %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.slug }}</a> / {% trans "User Story" %}{% endblock %}

{% block wrapper %}
<div id="user-story-module" class="show-module">
    <div class="context-menu">
        <ul>
            <li><a class="new-us" href="{{ user_story.get_edit_url }}">{% trans "Edit this user story" %}</a></li>
            <li><a class="new-milestone" href="{{ user_story.get_delete_url }}">{% trans "Delete this user story" %}</a></li>
        </ul>
    </div>
    {% include "messages.html" %}
    <div class="inline">
        <div class="form-field">
            <span class="label">{% trans "User story subject" %}</span>
            <span>{{ user_story.subject }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Priority" %}</span>
            <span>{{ user_story.get_priority_display }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Story points" %}</span>
            <span>{{ user_story.get_points_display }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Milestone/Sprint" %}</span>
            <span>{{ user_story.milestone }}</span>
        </div>
        <div class="form-field">
            <span class="label">{% trans "Tested" %}</span>
            <span>{{ user_story.tested|yesno }}</span>
        </div>

        {% if user_story.finish_date %}
        <div class="form-field">
            <span class="label">{% trans "Finish date" %}</span>
            <span>{{ user_story.finish_date|date:"DATE_FORMAT" }}</span>
        </div>
        {% endif %}

        {% if user_story.tags %}
        <div class="form-field">
            <span class="label">{% trans "Tags" %}</span>
            <span>{{ user_story.tags.all }}</span>
        </div>
        {% endif %}

        {% if user_story.description %}
        <div class="form-field width100">
            <span class="label">{% trans "Description" %}</span>
            <div class="wiki-content">
            {{ user_story.description|markup:user_story.project }}
            </div>
        </div>
        {% endif %}

        {% with subtasks=user_story.tasks.all %}
        <div class="form-field width100 us-tasks">
            <div class="us-tasks-title">
                <span>{% trans "Tasks/Bugs on this user story:" %}</span>
            </div>
            <div class="us-tasks-list">
                <div class="us-task-item head-title">
                    <div class="row identify">
                        <span>{% trans 'Id' %}</span>
                    </div>
                    <div class="row title">
                        <span>{% trans 'Subject' %}</span>
                    </div>
                    <div class="row priority">
                        <span>{% trans 'Priority' %}</span>
                    </div>
                    <div class="row assignation">
                        <span>{% trans 'Assigned to' %}</span>
                    </div>
                    <div class="row metaicon">
                        <span>{% trans 'Actions' %}</span>
                    </div>
                </div>
                {% for st in subtasks %}
                <div class="us-task-item">
                    <div class="row identify">
                        <span><a href="{{ st.get_view_url }}">{{ st.ref }}</a></span>
                    </div>
                    <div class="row title">
                        <span><a href="{{ st.get_view_url }}">{{ st.subject|truncatechars:45 }}</a></span>
                    </div>
                    <div class="row priority">
                        <span priority="{{ st.priority }}">{{ st.get_priority_display }}</span>
                    </div>
                    <div class="row assignation">
                        <span><a href="">{{ st.assigned_to|default:"Unassigned" }}</a></span>
                    </div>
                    <div class="row metaicon">
                        <img class="delete" src="{% static 'imgs/close-icon.png' %}"
                            deleteurl="{{ st.get_delete_url }}"></img>
                    </div>
                </div>
                {% empty %}
                <div class="us-task-item us-task-item-empty">
                    {% trans "No tasks, add one!" %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endwith %}

        <div class="form-field width100" style="min-height: 30px">
            <a href="{{ user_story.get_task_create_url }}?next={{ current_url }}"
                class="btn01 float-right">{% trans "Create task" %}</a>
        </div>
    </div>
</div>

<div class="delete-task-dialog" style="display: none" title="{% trans "Are you sure?" %}">
    <p>{% trans "Are you sure you want to delete this task?" %}
</div>
{% endblock %}
