{% load static from staticfiles %}
{% load greenmine_utils %}
{% load i18n %}

<div class="un-us-item">
    <div class="row title">
        {% if us.category %}
        {% tag_color us.category as result_color %}
        <span class="category" style="background-color: {{ result_color }}">
            {{ us.category|capfirst }}
        </span>
        {% endif %}
        <span><a href="{{ us.get_view_url }}">{{ us.subject|truncatechars:45 }}</a></span>
    </div>
    <div class="row points">
        <span>{{ us.get_points_display }}</span>
    </div>
    <div class="row priority">
        <span priority="{{ us.priority }}">{{ us.priority }}</span>
    </div>
    <div class="row milestone">
        <span><a rel="{{ us.ref }}" href=""></a></span>
    </div>
    <div class="row metaicon">
        <a class="config-us-inline" href="{{ us.get_edit_inline_url }}">
            <img src="{% static 'imgs/cog21.png' %}" style="width: 17px"></img>
        </a>
        <a class="delete" href="{{us.get_delete_url}}" class="delete"><img src="{% static 'imgs/close-icon.png' %}" /></a>
    </div>
    <div class="form-inline"></div>
</div>
