{% extends "base.html" %}
{% load url from future %}
{% load greenmine_utils %}
{% load i18n %}
{% load l10n %}

{% block title %}
    <span class="separator"> &rsaquo; </span>
    <span class="title-item"><a href="{{ project.get_backlog_url }}">{{ project.name }}</a></span>
    <span class="separator"> &rsaquo; </span>
    <span class="title-item">{% trans "User stories" %}</span>
{% endblock %}

{% block bottom-headers %}
    {% include "modules/wikiwidget.html" %}
{% endblock %}

{% block wrapper %}
<div class="user-story-create form-box">
    <div class="top-box">
        <div class="top-box-bar">
            <div class="buttons-area right">
                <div class="area-item button-unbordered data-url">{% trans "Cancel" %}</div>
                <div class="area-item button data-url" data-value="1">{% trans "Save" %}</div>
            </div>
            <div class="title-area">
                <div class="title">{% trans "Edit user story" %}:</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="middle-box">
        <div class="form-container">
            <form method="post" action="{{ project.get_userstory_edit_url }}">
                {% csrf_token %}
                <div class="form-row inline-row">
                    <div class="form-field">
                        <label>{{ form.subject.label }}</label>
                        {{ form.subject }}
                    </div>
                    <div class="form-field">
                        <label>{{ form.priority.label }}</label>
                        {{ form.priority }}
                    </div>
                    <div class="clearfix">
                </div>


                <div class="form-row inline-row">
                    <div class="form-field width100">
                        <label>{{ form.tags.label }}</label>
                        {{ form.tags }}
                    </div>
                    <div class="clearfix">
                </div>

                <div class="form-row inline-row">
                    <div class="form-field">
                        <label>{{ form.finish_date.label }}</label>
                        {{ form.finish_date }}
                    </div>
                    <div class="form-field">
                        <label>{{ form.points.label }}</label>
                        {{ form.points }}
                    </div>
                    <div class="clearfix">
                </div>

                <div class="form-row inline-row">
                    <div class="form-field">
                        <label>{{ form.client_requirement.label }}</label>
                        {{ form.client_requirement }}
                    </div>

                    <div class="form-field">
                        <label>{{ form.team_requirement.label }}</label>
                        {{ form.team_requirement }}
                    </div>
                    <div class="clearfix">
                </div>


                <div class="form-row inline-row">
                    <div class="form-field width100">
                        <label>{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                    <div class="clearfix">
                </div>
            </form>
        </div>
    </div>
    <div class="bottom-box">
        <div class="bottom-box-bar">
            <div class="buttons-area right">
                <div class="area-item button-unbordered data-url">{% trans "Cancel" %}</div>
                <div class="area-item button data-url" data-value="1">{% trans "Save" %}</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
