{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load greenmine_utils %}
{% load greenmine_markup %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.name }}{% endblock %}

{% block wrapper %}
<div id="wiki-module" class="show-module wiki-module">
    <div class="context-menu">
        <ul>
            <li><a class="" href="{{ wikipage.get_view_url }}">{% trans "Show main page" %}</a></li>
            <li><a class="show-menu" href="#">{% trans "Show options" %}</a></li>
        </ul>
    </div>
    <div class="context-submenu" id="wiki-menu" style="display: none">
        <ul>
            <li><a href="">{% trans "View all wiki pages" %}</a></li>
            <li><a href="{{ wikipage.get_history_view_url }}">{% trans "Show changes" %}</a></li>
        </ul>
    </div>

    <div class="wiki-changes">
        <h1>{% trans "Changes" %}</h1>
        <ul>
            {% for entry in entries %}
            <li><a href="{{ entry.get_history_view_url }}">{{ entry.created_date }}</a> by {{ entry.owner.get_full_name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block bottom-headers %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/wiki.css" type="text/css" media="handheld, all" />
    {% if project.markup == 'rst' %}
        {% include "modules/syntaxhighlighter.html" %}
    {% else %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/friendly.css" type="text/css" media="handheld, all" />
    {% endif %}
{% endblock %}
