{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load greenmine_utils %}
{% load greenmine_markup %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.name }}{% endblock %}

{% block wrapper %}
<div class="show-module">
    <div class="context-menu">
        <ul>
            <li><a class="new-milestone" href="{% url 'wiki-page' pslug=project.slug wslug=wikipage.slug %}">
                {% trans "Return" %}</a>
            </li>
        </ul>
    </div>

    {% include "messages.html" %}

    <div class="delete-module">
        <div class="delete-header">
            <div class="main-header-row">
                <span class="subject">{% trans "Will delete this wikipage: " %}</span><br />
                <span class="title">{{ wikipage.slug }} </span><br />
            </div>
        </div>
        <div class="delete-body">
            <form action="" method="post">
                {% csrf_token %}
                <p>{% trans "Are you sure you want to delete?" %}<p>
                <div class="form-row submit-row width100" style="overflow:hidden">
                    <input type="submit" class="btn01" value="{% trans "Delete" %}" />
                    <input type="submit" class="btn01" value="{% trans "Cancel" %}" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
