#dashboard-matrix table {
    width: 100%;
}
#dashboard-matrix select {
    height: 23px !important;
}
#dashboard-matrix table td { vertical-align: top; }
#dashboard-matrix table thead td.user-story-col { width: 16%; }
#dashboard-matrix table thead td.task-col { width: 21%; }
#dashboard-matrix table thead td .text { 
    padding: 5px; 
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

#dashboard-matrix table thead td.open-task-col .text { color: #FA5858 !important; }
#dashboard-matrix table thead td.progress-task-col .text { color: #2E9AFE !important; }
#dashboard-matrix table thead td.completed-task-col .text { color: #AEB404 !important; }
#dashboard-matrix table thead td.closed-task-col .text { color: #088A08 !important; }



#dashboard-matrix table tbody td.open-task-col .task-container { border-color: #F78181; }
#dashboard-matrix table tbody td.progress-task-col .task-container { border-color: #81BEF7; }
#dashboard-matrix table tbody td.completed-task-col .task-container { border-color: #AEB404; }
#dashboard-matrix table tbody td.closed-task-col .task-container { border-color: #088A08; }


#dashboard-matrix table tbody td.col { border: 1px solid #ccc; }
#dashboard-matrix table tbody td.user-story-col { background-color: #f3f3f3; }
#dashboard-matrix table tbody td.user-story-col .user-story-container { 
    min-height: 30px;
    background-color: white;
    margin: 5px;
    border: 1px solid #aaa;
}

#dashboard-matrix table tbody td.task-col .task-container { 
    min-height: 50px; 
    background-color: #f3f3f3; 
    margin: 3px;
    border-width: 1px;
    border-style: solid;
    max-width: 380px;
}

#dashboard-matrix table tbody td.task-col .task-container.non-closed-task { 
    min-height: 50px; 
    background-color: #f3f3f3; 
    margin: 3px;
    border: 1px solid #eeeeee;
    max-width: 380px;
    border-color: #F78181;
}

#dashboard-matrix table tbody td.task-col .task-container select {
    border: 1px solid #aaa;
    font-size: 11px !important;
    color: black; 
    background: #fafafa;
    padding: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-weight: bold; 
}

#dashboard-matrix table tbody td.task-col .task-container .task { padding: 10px; }
#dashboard-matrix table tbody td.task-col .task-container .task .icons { 
    overflow: hidden; 
    margin-top: 25px; 
}
#dashboard-matrix table tbody td.task-col .task-container .task .icons  select.participants {
    float:left;
    margin-right: 10px;
    margin-top: 7px;
}

#dashboard-matrix table tbody td.task-col .task-container .task .icons  select.statuses {
    float: left;
    margin-top: 7px;
}

#dashboard-matrix table tbody td.task-col .task-container .task .icons .task-edit {
    float: left;
    border: 1px solid 
    white;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    line-height: 30px;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    margin-left: 10px;
}
#dashboard-matrix table tbody td.task-col .task-container .task .icons .task-edit img {
    width: 17px;
}



#dashboard-matrix table tbody td.user-story-col .user-story-container .user-story { padding: 10px; }
#dashboard-matrix table tbody td.user-story-col .user-story-container .user-story .description a { font-weight: bold; }
#dashboard-matrix table tbody td.user-story-col .user-story-container .user-story .icons { overflow: hidden; margin-top: 6px; }
#dashboard-matrix table tbody td.user-story-col .user-story-container .user-story .icons .points {
    float: left;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #eee;
}
#dashboard-matrix table tbody td.user-story-col .user-story-container .user-story .icons .new-task {
    float: left;
    margin-left: 10px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #eee;
    padding:4px;
    cursor: pointer;
}
#dashboard-matrix table tbody td.user-story-col .user-story-container .user-story .icons .new-task img {
    width: 20px;
}

#create-task-dialog input#id_subject {
    width: 430px;
}

#create-task-dialog .form-field {
    width: 250px;
}

#sprint-burndown #sprint-burndown-graph {
        height: 200px;
}

