#documents-dashboard .left-block { width: 100%; }
#documents-dashboard .left-block .documents-table {
    min-height: 200px;
    padding: 5px;
}
#documents-dashboard .left-block .documents-table .document-row {
    padding: 5px;
    overflow: hidden;
    border-bottom: 1px solid #EEE;
    padding-top: 8px;
}

#documents-dashboard .left-block .documents-table .document-row.head-row a,
#documents-dashboard .left-block .documents-table .document-row.head-row span { font-weight: bold; }
#documents-dashboard .left-block .documents-table .document-row .row {
    float: left;
    vertical-align: bottom;
}

#documents-dashboard .left-block .documents-table .document-row .row.title { width:60%; }
#documents-dashboard .left-block .documents-table .document-row .row.size {
    float: right;
    min-width: 100px;
}
#documents-dashboard .left-block .documents-table .document-row .row.date {
    float: right;
    min-width: 270px;
}
#documents-dashboard .left-block .documents-table .document-row .row.metaicon { 
    float: right;
    min-width: 100px;
}
#documents-dashboard .left-block .documents-table .document-row .row.metaicon img {
    cursor: pointer;
    width: 20px;
}


#upload-dialog div.row { margin-bottom: 10px; overflow: hidden; }
#upload-dialog *:focus{ outline:none; }
#upload-dialog .floatLeft { float: left; }
#upload-dialog .floatRight { float: right; }
#upload-dialog .clear { clear: both; }
#upload-dialog form {
    padding: 5px;
    margin: 10px auto;
}
#upload-dialog #fileToUpload { width: 378px; }
#upload-dialog #progressIndicator { font-size: 10pt; }
#upload-dialog #fileInfo {
    font-size: 10pt;
    font-style: italic;
    color: #aaa;
    margin-top: 10px;
}

#upload-dialog #progressBar {
    height: 14px;
    border: 1px solid #cccccc;
    display: none;
    border-radius:10px;
    -moz-border-radius: 10px;
    background-image: -moz-linear-gradient(top, #66cc00, #4b9500);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
}

#upload-dialog #uploadResponse {
    margin-top: 10px;
    padding: 10px;
    overflow: hidden;
    display: none;
    border-radius:4px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    background-image: -moz-linear-gradient(top, #ff9900, #c77801);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#c77801));
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

input:required:invalid, input:focus:invalid {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC');
    background-position: right top;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
  }
input:required:valid {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=');
    background-position: right top;
    background-repeat: no-repeat;
}

