body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {margin:0; padding:0; font-family: Arial, Helvetica; font-size: 14px;}
body { padding-top: 50px; }
select, input, textarea {border: 1px solid #D9D9D9;}
select:hover, input:hover, textarea:hover{border: 1px solid #B9B9B9;}
select:focus, input:focus, textarea:focus{border: 1px solid #458745;}
input, textarea{ text-align: left; color: black; cursor: text; }
input[type="radio"], input[type="checkbox"] { cursor: pointer; }
textarea, input[type="text"], input[type="password"] {padding: 2px 10px 0 6px;  font-size: 17px;  vertical-align: top; height: 27px;}
textarea { height: 126px; }
table {border-collapse:collapse; border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
pre, p{margin-bottom: 9px;}
hr{border: 2px solid #458745; width: 100%; height: 2px; clear: left; float: left;}
.mt5{margin-top: 5px;} .mt10{margin-top: 10px;} .mt15{margin-top: 15px;} .mt20{margin-top: 20px;} .mt25{margin-top: 25px;}
body{background-color: #EFEFEF; padding-bottom: 36px;}
#head h1, #head h1 a{color: #FFF; font-size: 28px; font-weight: bold; text-decoration: none; margin: 0px !important;}
h2{color: #000; font-size: 20px; font-weight: bold; text-decoration: underline; margin-bottom: 15px; margin-top: 7px;}
h3{color: #000; font-size: 16px; font-weight: bold; margin-bottom: 10px; margin-top: 7px;}
h4{color: #000; font-size: 14px; font-weight: bold; margin-bottom: 10px; margin-top: 7px;}
a{color: #458745; text-decoration: none;}
legend{font-weight:bold;}
fieldset{padding: 20px;}
.fsborder{border: 1px solid #EFEFEF;}
.btn01{
    background-color:#458745; 
    padding: 7px 15px; font-size: 15px; color: #FFF; font-weight:bold; text-decoration: none;
    cursor: pointer; margin-right: 5px; border-radius: 8px; border: 0; line-height: 20px; float: left;
    margin-top: 2px;
    margin-bottom: 2px;
}
.btn01:hover{border: 0; box-shadow: 1px 1px 2px #888;}
label.error{color: red;}
#login, #password-recovery{margin: 0 auto; background-color: #FFF; padding: 30px 90px; width: 335px;}
label, span.label{font-size: 15px; font-weight: bold; display:block; width:100%;}
.form-field{margin-bottom: 20px;}

form input[type="text"], form input[type="password"], form textarea, form input[type="file"]{
    width: 284px; 
    clear: left; 
    display: block;
    padding: 2px; 
    font-size: 14px;
}
.form-field{width: 305px;}
#login  .forgot-pass{line-height: 18px; float: left;}
#login .btn01{float: right;}
#login fieldset, #password-recovery fieldset{border: 0;}
#footer {background-color: #FFF; position: fixed; bottom: 0; left: 0; right: 0px; border-top: 1px solid #458745; height: 18px;}
#footer p {text-align: right; font-weight: bold; padding: 2px; font-size:11px;}
#forgotten-password-form input.btn01{margin-left: 10px;}
.ajax-loader{background: url("../imgs/ajax-loader.gif") no-repeat top left; display: block; float: right; margin-right: 5px;}
.init-loader{width: 32px; height: 32px;}
#menu{position:absolute; right:20px; top:0;}
#menu li{float: left; margin-left: 15px;}
#menu a{font-weight:bold; color:#000; line-height: 55px;}

ul.list {
    padding-left: 10px;
}
#wrapper{
    width:980px; 
    background-color:#FFF; 
    padding: 10px; 
    margin: 10px auto 0 auto; 
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius:2px;
}

div.main-menu {
    width:980px;
    margin: 0px auto 0 auto;
    padding: 0px;
    overflow: hidden;
}
div.main-menu ul.menu-item {
    margin-top: 10px;
    list-style: none;
    float: left;
    display: block;
}
div.main-menu ul.menu-item li {
    display: inline;
}
div.main-menu ul.menu-item li a { 
    text-decoration: none;
}

div.main-menu ul.menu-item li a.selected {
    text-decoration: none;
    font-weight: bold;
}

div.main-menu ul.left-menu {
    width: 700px;
}

div.main-menu ul.left-menu.settings {
    width: 670px;
}

div.main-menu ul.left-menu li {
    padding-right: 10px;
}

div.main-menu ul.right-menu {
    width: 270px;
    text-align: right;
}


div.main-menu ul.right-menu.settings {
    width: 300px;
}

div.main-menu ul.right-menu li {
    padding-left: 10px;
}


#sub-menu{width: 100%; overflow: auto; margin-bottom: 20px;}
#sub-menu li{float:left; margin-right:10px;}
#sub-menu a{ font-weight:bold; text-decoration: none; color:#000; border: 1px solid #458745; padding: 12px 35px; line-height: 15px; float: left; border-radius: 7px;}
#sub-menu .selected a, #sub-menu a:hover{border: 4px solid #458745; padding: 9px 32px;}
.inline .form-field{float:left; margin-right: 15px; min-height: 75px;}
.width100{width: 100% !important;}
.float-left{float: left;}
.float-right{float: right;}
.table01 { width: 100%; }
.table01 img{float: left; margin-right:10px;}
.table01 td{line-height: 30px; padding:12px;}
.table01 th{background-color: #458745; color: #FFFFFF; font-weight: bold; padding: 0 10px 0 15px;}
.table01 tr{border-bottom:1px solid #458745;}
.table01 tr:hover{background-color:#EFEFEF;}
.pagination{margin-top: 20px;}
.pagination li{display: inline; margin-right: 5px;}
.pagination .selected a{color: #000;}
#user-project{width:100%; float: left; margin: 20px 0;} 
#user-project .table01{max-height: 600px; overflow: auto; display:block;}
#user-project .users-added{width: 515px; float: left;}
#user-project .users-roles{padding-left: 20px; width: 390px; float: left;}
#user-project fieldset{padding: 20px; margin-bottom: 15px;}
.messages-container ul.messages {
    padding: 10px 0; 
    margin: 10px 0; 
    background-color: #EFEFEF;
    border:1px solid #eee;
}
.messages-container ul.messages li {
    font-weight: bold; 
    color: #000; 
    margin-left: 10px;
}
.messages-container ul.messages li.info{color: #458745;}
.messages-container ul.messages li.error{color: red;}
.datepicker{width: 85px !important;}
.ui-draggable-dragging{z-index: 999;}
#issue textarea{width: 500px; height: 200px;}
#dashboard .edit{background: url("../imgs/cog21.png") top left; width: 21px; height: 21px; display: block;}
#dashboard .detail{background: url("../imgs/arrow-double-right.png") top left; width: 21px; height: 17px; display: block; position: absolute; right: 4px; top: 28px;}
#dashboard .detail-ml{background: url("../imgs/arrow-double-right.png") top left; width: 21px; height: 17px; display: block; position: absolute; right: 26px; top: 4px;}
.delete-user-ac{margin-right: 10px; float: left;}
.delete-user-ac a{display: block; background: url("../imgs/delete-icon.png") top left; width: 16px; height: 16px; margin-left: 2px; float: right; margin-bottom: 8px;}
#issue .list-files a{float: left;}
#issue .list-files li{margin-right: 15px; float: left;}
#issue .delete-file{display: block; background: url("../imgs/delete-icon.png") top left; width: 16px; height: 16px; margin-left: 2px; margin-bottom: 8px;}
#bin{background: url("../imgs/bin.png") top left; width: 56px; height: 56px; position: absolute; top: 0px; left: 0; visibility: hidden;}
.bin2{visibility: visible !important;}
#bin:hover{background-position: bottom left !important; cursor: pointer;}
#import-project{display: none; width: 100%; margin-top: 20px; float: left;}
#project .users-roles input{display: inline;}
#project .users-roles li{margin-bottom: 10px;}
#project textarea{width: 915px;}
#project .th1{width: 309px;}
#project .th2{width: 133px;}


/* Backlog */
#dashboard {
    overflow:hidden;
}

#dashboard .left-block,
#dashboard .right-block {
    float:left;
}

#dashboard .left-block {
    width: 650px;
}
#dashboard.tasks-ds .left-block {
    width: 755px;
}

#dashboard .left-block .unassigned-us {
    padding: 5px;
    min-height: 200px;
}

#dashboard .left-block .unassigned-us .un-us-item {
    padding: 5px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding-top: 8px;
}

#dashboard .left-block .unassigned-us .un-us-item .row {
    float: left;
    vertical-align: bottom;
}

#dashboard .left-block .unassigned-us .un-us-item .row.identify {
    width: 65px;
    font-family: monospace;
}

#dashboard .left-block .unassigned-us .head-title a {
    font-weight: bold;
    color: black;
    cursor: pointer;
}

#dashboard.backlog .left-block .unassigned-us .un-us-item .row.title {
    width: 450px;
}

#dashboard.backlog .left-block .unassigned-us .un-us-item .row.cat {
    width: 60px;
}

#dashboard .left-block .unassigned-us .un-us-item .row.title { 
    width: 330px;
}

#dashboard .left-block .unassigned-us .un-us-item .row.type { 
    width: 70px;
}
#dashboard .left-block .unassigned-us .un-us-item .row.title span.category {
    color: white;
    font-weight: normal;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
}

#dashboard .left-block .unassigned-us .un-us-item .row.priority {
    width: 60px;
}
#dashboard .left-block .unassigned-us .un-us-item .row.points {
    width: 50px;
}
#dashboard .left-block .unassigned-us .un-us-item .row.us {
    width: 75px;
}
#dashboard .left-block .unassigned-us .un-us-item .row.status {
    width: 90px;
}
#dashboard .left-block .unassigned-us .un-us-item .row.milestone {}
#dashboard .left-block .unassigned-us .un-us-item .row.metaicon {
    float: right;
}
#dashboard .left-block .unassigned-us .un-us-item .row.metaicon img,
#dashboard .left-block .unassigned-us .un-us-item .row { cursor: pointer; }


#dashboard .right-block {
    width: 325px;
}
#dashboard.tasks-ds .right-block {
    width: 220px;
}
#dashboard .right-block .milestone-item {
    margin-bottom: 10px;
    background-color: #eee;
    padding: 5px;
}

#dashboard.tasks-ds .right-block .milestone-item {
    margin-bottom: 3px;
}
#dashboard.tasks-ds .right-block .milestone-item.selected {
    margin-bottom: 3px;
    background-color: #dedede;
    border: 1px solid white;
    outline: 1px solid #ddd;
}

#dashboard .right-block .milestone-item .milestone-title { 
    overflow: hidden; 
    border-bottom: 1px dotted white;
    margin-bottom: 6px;
}
#dashboard .right-block .milestone-item.simple .milestone-title {
    border: 0px;
    margin-bottom: 0px;
}

#dashboard .right-block .milestone-item .milestone-title .text {
    font-weight: bold;
    padding-bottom: 2px;
    float: left;
}
#dashboard .right-block .milestone-item .milestone-title .meta {
    float: right;
    font-size: 12px;
}

#dashboard .right-block .milestone-item .us-item {
    overflow: hidden;
    cursor: pointer;
    padding: 2px;
    line-height: 20px;
    vertical-align: middle;
}
#dashboard .right-block .milestone-item .us-item:hover {
    background-color: white;
}

#dashboard .right-block .milestone-item .us-item .us-title,
#dashboard .right-block .milestone-item .us-item .us-meta {
    float: left;
}
#dashboard .right-block .milestone-item .us-item .us-title {
    width: 295px;
}
#dashboard .right-block .milestones {
    margin-top: 10px;
}


/* Context Menu */
.context-menu {
    margin-bottom: 10px;
    padding-right: 10px;
    background-color: #EFEFEF;
    overflow: hidden;
    line-height: 21px;
}
.context-menu ul {
    list-style: none;
    text-align: right;
}

.context-menu ul li {
    display: inline;
    padding-left: 10px;
    font-size: 11px;
}


div.fieldset {
    margin-bottom: 20px;
    overflow: hidden;
}
div.fieldset div.field-inline {
    float: left;
    margin-right: 10px;
}

/* base */

#head{
    line-height: 35px; 
    background-color: #458745; 
    float: left; 
    padding: 0 25px; 
    position: absolute; 
    top: 0; 
    left: 0;
}
#head h1 {
    font-size: 20px;
    padding: 0px;
}

.hidden { display: none; }



/* milestone-dashboard-module */
#milestone-dashboard #progress-bar {
    margin-bottom: 20px;
}

#milestone-dashboard .user-story { 
    overflow: hidden; 
    margin-bottom: 4px;
}

#milestone-dashboard .user-story .hfield {
    float: left;
    min-height: 100px;
    margin-right: 4px;
    border-top: 1px solid #EEE;
}

#milestone-dashboard .user-story .user-story-header {
    width: 200px;
    background-color: #eee;
    color: black;
    padding: 6px;
    font-size: 11px;
    position: relative;
    border: 1px solid #BBB;
    border-radius: 5px;
}
#milestone-dashboard .user-story .user-story-header a.add-task {
    position: absolute;
    bottom: 7px;
    right: 7px;
}
#milestone-dashboard .user-story .user-story-header a.remove-user-story {
    position: absolute;
    bottom: 7px; right: 30px;
}
#milestone-dashboard .user-story .user-story-header span.estimation {
    position: absolute;
    bottom: 7px; left: 7px;
}
#milestone-dashboard .user-story .user-story-status {
    background-color: white;
    width: 238px;
    padding: 4px;
}
#milestone-dashboard .user-story .user-story-task {
    min-height: 85px;
    background-color: #eee;
    border: 1px solid #BBB;
    border-radius: 5px;
    padding: 5px;
    width: 226px;
    margin-bottom: 3px;
    position: relative;
}

#milestone-dashboard .user-story .user-story-task .task-desc .reference {
    font-weight: bold;
}

#milestone-dashboard .user-story .user-story-task .participants {
    position: absolute;
    left: 3px;
    bottom: 3px;
}

#milestone-dashboard .user-story .user-story-status.status-closed .user-story-task {
    background-color: #B4F3A8;
    border: 1px solid green;
}

#milestone-dashboard .user-story-legend {
    overflow: hidden; 
    margin-bottom: 4px;
}
#milestone-dashboard .user-story-legend .hfield {
    float: left;
    margin-right: 4px;
    font-weight: bold;
    height: 20px;
}
#milestone-dashboard .user-story-legend .user-story-header {
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
#milestone-dashboard .user-story-legend .user-story-status { 
    width: 238px;
    padding-left: 4px;
}


.radio-choices div {
    float:left;
    width: 80px;
    border: 1px;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
    margin-right: 1px;
}
.radio-choices div.active {
    background-color:#458745;
    font-size: bold;
}
.radio-choices div.first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.radio-choices div.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/** User Story Module **/

.user-story-task-item {
    margin-bottom: 2px;
    background-color: #eee;
    overflow: hidden;
    padding: 6px;
}

.user-story-task-item .box-row { 
    float: left;
    min-width: 300px;
}
.user-story-task-item .row-subject .assigned-to {
    font-size: 11px;
    padding: 3px;
    padding-left: 10px;
}
.ui-widget { font-size: 14px; }


/* Forms */

.form-container {
    padding: 10px;
}

.form-container .form-legend {
    font-size: 22px;
    padding-bottom: 10px;
}

.form-container .form-row {
    margin-bottom: 15px;
    overflow: hidden;
}

.form-container .form-row.submit-row {
    /*padding: 10px;*/
}

ul.errorlist {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: red;
}
ul.errorlist li {
    font-size: 12px;
}

/* User Story View */
.show-module {
    padding: 5px;
}
.show-module .inline { overflow: hidden; }

.show-module .us-tasks .us-tasks-title {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}

.show-module .us-tasks .us-task-item {
    padding: 5px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.show-module .us-tasks .us-task-item .row {
    float: left;
}

.show-module .us-tasks .us-task-item .row.identify {
    width: 65px;
    font-family: monospace;
}

.show-module .us-tasks .us-task-item .row.title { 
    width: 380px;
}

.show-module .us-tasks .us-task-item .row.priority {
    width: 65px;
}
.show-module .us-tasks .us-task-item .row.milestone {}

.show-module .us-tasks .us-task-item .row.metaicon {
    float: right;
}

.show-module .us-tasks .us-task-item .row.metaicon img,
.show-module .us-tasks .us-task-item .row { cursor: pointer; }

.show-module .us-tasks .us-task-item.head-title span {
    color: #777;
}

.responses-list .response {
    background-color: #eee;
    position: relative;
    border-bottom: 1px solid white;
    padding: 10px;
    overflow: hidden;
}
.responses-list .response .col { float: left; width: 40px; }
.responses-list .response .col.second-col { width: 700px; }
.responses-list .response .name {
    color: #999;
    padding-bottom: 10px;
}
.responses-list .responses-title {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}
.response-form {
    margin-top: 20px;
}
.response-form #id_description {
    width: 800px;
    height: 100px;
}

.tooltip{background-color: #000; border-radius: 4px; padding: 10px 20px;}
.tooltip p{color: #FFF;}
.tooltip-backlog a{color: #FFF; font-weight: bold;}
.select-enable{cursor: pointer; opacity: 0.5;} 
.select-enable:hover{opacity: 1;}
#lightbox-backlog{background-color: #458745; padding: 8px; border-radius: 2px;}
#lightbox-backlog ul{background-color: #FFF; padding: 8px; border-radius: 2px;}
#lightbox-backlog li{margin-bottom: 15px;}
#lightbox-backlog li:last-child{margin-bottom: 0;}
#overlay {display: none; left: 0; position: absolute; top: 0; z-index: 90;}

.form-field.category-field div.sub-item-field {
    float: left; 
    display: inline;
}
.us-form-inline{
    float: left;
    padding: 20px;
    border: 1px solid #DDD;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.us-form-inline div.form-field{
    float: left; 
    width: 100%; 
    margin-bottom: 13px;
}

.us-form-inline div.form-field div.subfield {
    float: left;
    margin-right: 10px;
}

.us-form-inline #id_priority {
    width: 90px
}
.drag-over {
    border:1px solid #F6CED8;
}
