.paginator-block {
    margin-top: 20px;
    padding: 5px;
    background-color: #e4e4e4;
    font-size: 12px;
}


select {
    height: 32px;
    max-width: 250px;
    padding: 0px 5px 0px 5px;
}

input[type=button] {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.selected-colors {
    margin-bottom: 20px;
}
.selected-colors h3 {
    font-weight: bold;
    padding-bottom: 4px;
}

.selected-colors .tag-color-item {
    overflow: hidden;
    padding-left: 10px;
}
.selected-colors .tag-color-item .tag-name,
.selected-colors .tag-color-item .tag-color,
.selected-colors .tag-color-item .tag-rm {
    float: left;
}

.selected-colors .tag-color-item .tag-name {
    width: 200px;
}

.selected-colors .tag-color-item .tag-color {
    width: 30px;
    height: 12px;
}

.selected-colors .tag-color-item .tag-rm {
    line-height: 12px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 5px;
    font-size:14px;
    font-weight: bold;
    cursor: pointer;
}


.question-module {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 10px;
}

.question-module .question-header {
    font-size: 18px;
}
.question-module .question-header .title {
    font-size: 18px;
    font-weight: bold;
}

.questions-list .question-module .question-header .title {
    font-size: 14px;
}
.questions-list fieldset {
    padding: 10px;
    border: 1px solid #e4e4e4;
}

.questions-list .question-module {
    margin-bottom: 4px;
}
.question-module .question-header .small-header-row {
    font-size: 12px;
    padding: 4px;
    font-style: italic;
}

.question-module .question-body .content { 
    margin-top: 10px;
    padding: 5px;
}

.question-responses-form {
    margin-top: 20px;
}

textarea#id_description,
textarea#id_content { width: 930px; height: 190px; }
.question-responses { overflow: hidden; }
.question-responses .question-response-item {
    float:right;
    width: 900px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #eee;
}
.question-responses .question-response-item .created-date,
.question-responses .question-response-item .owner {
    padding-top: 5px;
    font-size: 12px;
    text-align: right;
}

div.highlight {
    padding: 10px;
    background-color: white;
    font-size: 12px;
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.highlight pre {
    font-family: Monaco, 'MonacoRegular', 'Courier New', monospace;
    white-space: pre-wrap;
}


/* Delete module */

.delete-module {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 10px;
}
.delete-module .delete-header {
    font-size: 18px;
}
.delete-module .delete-header .title {
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding-left:10px;
}
.delete-module .delete-header .small-header-row {
    font-size: 12px;
    padding: 4px;
    font-style: italic;
}


/* User list */

.user-module {
    padding: 3px;
    background-color: #EEE;
    margin-bottom: 10px;
    padding-left: 10px;
}

.user-module .user-header {
    font-size: 18px;
}
.user-module .user-header .title {
    font-size: 18px;
    font-weight: bold;
}

.users-list .user-module .user-header .title {
    font-size: 12px;
    line-height: 22px;
}
.users-list fieldset {
    padding: 10px;
    border: 1px solid #e4e4e4;
}

.users-list .user-module {
    margin-bottom: 4px;
}
.user-module .user-header {
    overflow: hidden;
}
.user-module .user-header .small-header-row {
    font-size: 12px;
    padding: 4px;
    font-style: italic;
    float: right;
}
.user-module .user-header .main-header-row {
    float:left;
}

.user-module .user-body .content { 
    margin-top: 10px;
    padding: 5px;
}
.user-module .user-body .user-body-module {
    margin-top: 0px;
}


.wiki-page-edit #id_content {
    width: 945px;
    height: 500px;
    font-size: 12px;
}


h1,
h2,
h3 {
    color: black;
    font-weight: bold;
    margin-bottom: 12px !important;
}

h1 { font-size: 22px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }



.changes-list .change-item .change-title {
    font-size: 12px;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}
.changes-list .change-item .change-content {
    padding: 3px;
}

.changes-list .change-item .change-content .comment {
    padding: 5px;
    padding-left: 10px;
}
.changes-list .change-item .change-content .comment-attachments {
    padding-left: 10px;
}
