.wiki-content {
    padding: 10px;
}
.wiki-content ul {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.wiki-content ul li {
    list-style-type:circle;
}

.context-submenu {
    padding: 10px;
    margin: 5px;
    border: 1px solid #aaa;
    background-color: white;
    width: 170px;
    float: right;
}
