{% load url from future %}
{% load greenmine_permissions %}
{% load i18n %}

{% check_role loc='project' perms='edit' as check_role_result %}

<ul class="left-menu menu-item settings">
    {% if check_role_result %}
    <li><a href="{{ project.get_settings_url }}" class="{{ menu.in_settings_personal }}">{% trans "My project settings" %}</a></li>
    <li><a href="{{ project.get_edit_url }}" class="{{ menu.in_editproject }}">{% trans "Project data" %}</a></li>
    <li><a href="{{ project.get_general_settings_url }}" class="{{ menu.in_settings_general }}">{% trans "Project general settings" %}</a></li>
    {% endif %}

    {% if user.is_superuser %}
    <li><a href="{{ project.get_export_url }}" class="{{ menu.in_export }}">{% trans "Export" %}</a></li>
    {% endif %}
</ul>

<ul class="right-menu menu-item settings">
    <li><a href="{{ project.get_backlog_url }}" class="">{% trans "Return to backlog" %}</a></li>
</ul>
