{% extends "base.html" %}
{% load url from future %}

{% block wrapper %}
<div id="my-profile">
    <form id="edit-profile-form" method="post" enctype="multipart/form-data"
        action="{% url 'web:profile' %}" class="inline">
        {% include "config/menu.html" %}
        {% include "messages.html" %}
        {% csrf_token %}
        <fieldset>
            <p class="form-field">
                {{ form.username.label }}
                {{ form.username }}
                {{ form.username.errors }}
            </p>
            <p class="form-field">
                {{ form.password.label }}
                {{ form.password }}
                {{ form.password.errors }}
            </p>
            <p class="form-field">
                {{ form.email.label }}
                {{ form.email }}
                {{ form.email.errors }}
            </p>    
            <p class="form-field">
                {{ form.description.label }}
                {{ form.description }}
                {{ form.description.errors }}
            </p>
            <p class="form-field">
                {% if not user.get_profile.photo %}
                <img width="50" src="{{ STATIC_URL }}auxiliar/imgs/gravatar.jpg" />
                {% else %}
                <img width="50" src="{{ user.get_profile.photo.url }}" />
                {% endif %}

                {{ form.photo.label }}
                {{ form.photo }}
                {{ form.photo.errors }}
            </p>
            <p class="width100 float-left">
                <input class="btn01" type="submit" value="Guardar" />
                <span class="ajax-loader"></span>        
            </p>
        </fieldset>
    </form>
</div>
{% endblock %}
