{% extends "config/base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load greenmine_utils %}
{% load greenmine_markup %}
{% load i18n %}

{% block title %}
    <span class="separator"> &rsaquo; </span>
    <span class="title-item"><a href="{{ project.get_dashboard_url }}">{{ project.name }}</a></span>
    <span class="separator"> &rsaquo; </span>
    <span class="title-item">{% trans "Export" %}</span>
{% endblock %}

{% block wrapper %}
<div class="show-module">
    <div class="context-menu">
        <ul>
            <li><a class="new-milestone" href="{{ project.get_export_now_url }}">{% trans "Export now" %}</a></li>
            <li><a class="new-milestone" href="{{ project.get_export_rehash_url }}">{% trans "Rehash" %}</a></li>
        </ul>
    </div>
    {% include "messages.html" %}

    <div class="project-module">
        <ul>
            {% for fileobj in flist %}
            <li>{{ fileobj.path }} - {{ fileobj.size|hsize }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
