{% extends "config/base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{{ block.super }} / {% trans "Notifications" %}{% endblock %}

{% block wrapper %}
<div id="my-profile" class="form-container">
    {% include "messages.html" %}

    <h1>{% trans "Project general settings" %}</h1>
    <br />

    <form id="edit-project-settings" method="post"
        action="{{ full_current_url }}" class="inline">
        {% csrf_token %}

        <h3>{% trans "Category colors:" %}</h3>
        
        <div class="colors-section">
            {% with pc=project.meta_category_color %}
            <div class="selected-colors" {% if not pc %}style="display: none"{% endif %}>
                <h3>{% trans "Current colors:" %}</h3>
                {% for key, val in pc.iteritems %}
                <div class="tag-color-item">
                    <div class="tag-name">{{ key|lower }}</div>
                    <div class="tag-color" val="{{ val }}" style="background-color: {{ val }}"></div>
                    <div class="tag-rm">x</div>
                </div>
                {% endfor %}
            </div>
            {% endwith %}
            <div class="form-field width100 category-field">
                <div class="sub-item-field">
                    <select name="category">
                        {% for key, value in categorys %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="sub-item-field">
                    <input type="text" placeholder="{% trans "Type hexadecimal color:" %}"></input>
                </div>
                <div class="sub-item-field">
                    <input type="button" value="{% trans "Add" %}" />
                </div>
            </div>
            {{ form.colors_hidden }}
        </div>

        <h3>{% trans "Markup system:" %}</h3>

        <div class="markup-section">
            {{ form.markup }}
        </div>

        <div class="width100 float-left" style="margin-top:20px">
            <input class="btn01" type="submit" value="{% trans "Save" %}" />
            <span class="ajax-loader"></span>        
        </div>
    </form>
</div>
{% endblock %}
