{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{{ block.super }} / Projects administration.{% endblock %}

{% block wrapper %}
<div id="projects">
    {% include "config/menu.html" %}
    {% include "messages.html" %}
    {% if page.paginator.count > 0 %}
    <table class="table01">
        <tr>
            <th>Nombre</th>
            <th>Propietario</th>
            <th>Opciones</th>
        </tr>
        {% for project in page.object_list %}
        <tr>
            <td><a href="{{ project.get_dashboard_url }}">{{ project.name }}</a></td>
            <td><img width="30" src="{{ STATIC_URL }}auxiliar/imgs/gravatar.jpg" />{{ project.owner.first_name }}</td>
            <td><a href="">Editar</a> | <a class="delete" rel="{{ project.get_delete_api_url }}" href="">Borrar</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>No tiene ningun proyecto, crea uno!</h2>
    {% endif %}
    {% include "paginator.html" %}
    <a href="{% url 'web:project-create' %}" class="btn01 float-right">Crear proyecto</a>
    <a id="open-import-project" href="" class="btn01 float-right">Importar</a>
    
    <div id="import-project">
        <form class="validate" method="post" action="{{ current_url }}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="fsborder">
                <legend>{% trans "Importing a new project:" %}</legend>         
                <div class="form-field">
					<label>{{ dumpform.dumpfile.label }}</label>
					{{ dumpform.dumpfile }}
				</div>
                <div class="form-field">
					<label>{{ dumpform.overwrite.label }}</label>
					{{ dumpform.overwrite }}
				</div>
                <input type="submit" class="btn01" value="{% trans 'Submit' %}" />
            </fieldset>
       </form>
   </div>

</div>
{% endblock %}
