{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block wrapper %}
<div id="project">
    {% include "config/menu.html" %}
    <form id="edit-profile-form" method="post" class="validate">
        {% csrf_token %}
        {% include "messages.html" %}
        <fieldset>
            <p class="form-field">
                {{ form.projectname.label }}
                {{ form.projectname }}
                {{ form.projectname.errors }}
            </p>
            <p class="form-field">
                {{ form.description.label }}
                {{ form.description }}
                {{ form.description.errors }}
            </p>
            <div id="user-project">
                <div class="users-added">
                    <table class="table01">
                        <tbody>
                            <tr>
                                <th>Propietario</th>
                                <th>Rol</th>
                                <th>Opciones</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="users-roles">
                    <fieldset>
                        <legend>Usuarios</legend>
                        <input type="text" name="username" class="user-autocomplete" url="{% url "api:user-list" %}" />
                        <input type="hidden" class="user-currentvalue" value="" />
                    </fieldset>
                    <fieldset>
                        <legend>Roles</legend>
                        <ul class="roles">
                            {% for rolid, rolname in roles %}
                            <li><input name="rol-aux" type="radio" rolname="{{ rolname }}" value="{{ rolid }}" />{{ rolname }}</li>
                            {% endfor %}
                        </ul>
                    </fieldset>
                    <input id="btn-usr-project" type="button" value="Añadir" class="btn01" />
                </div>
            </div>
            <p class="width100 float-left">
                <input class="btn01" type="submit" value="Guardar" />
                <span class="ajax-loader"></span>
            </p>
        </fieldset>
    </form>
</div>
{% endblock %}
