{% extends "config/base.html" %}
{% load url from future %}
{% load i18n %}
{% load gravatar %}


{% block middle %}
    {% include "config/middle-menu.html" %}
{% endblock %}

{% block title %}{{ block.super }} / {% trans "Edit" %}{% endblock %}

{% block wrapper %}
<div id="project">
    <form id="edit-project-form" method="post" class="validate">
        {% csrf_token %}
        {% include "messages.html" %}
        <fieldset>
            <div class="form-field">
                <label>{{ form.projectname.label }}</label>
                {{ form.projectname }}
                {{ form.projectname.errors }}
            </div>
            <div class="form-field width100">
                <label>{{ form.description.label }}</label>
                {{ form.description }}
                {{ form.description.errors }}
            </div>
            <div id="user-project">
                <div class="users-added">
                    <table class="table01">
                        <tbody>
                            <tr>
                                <th class="th1">{% trans "Owner" %}</th>
                                <th class="th2">{% trans "Role" %}</th>
                                <th class="th3">{% trans "Options" %}</th>
                            </tr>
                            {% for user_role in project.user_roles.all %}
                            <tr>
                                <td>
                                    {% if user_role.user.get_profile.photo %}
                                        <img width="30" src="{{ user_role.user.get_profile.photo.url }}">
                                    {% else %}
                                        {% gravatar user_role.user.email 30 %}
                                    {% endif %}
                                    {% if user_role.user.get_full_name %}
                                        {{ user_role.user.get_full_name }}
                                    {% else %}
                                        {{ user_role.user.username }}
                                    {% endif %}
                                </td>
                                <td>{{ user_role.role.name }}</td>
                                <td><a href="" rel="{{user_role.user.id}}" class="delete">{% trans "Delete" %}</a></td>
                                <input type="hidden" value="manager" name="user_{{ user_role.user.id }}">
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="users-roles">
                    <fieldset class="fsborder">
                        <legend>{% trans "Users" %}</legend>
                        <input type="text" name="username" class="user-autocomplete" link="{% url "api:user-list" %}" />
                        <input type="hidden" class="user-currentvalue" value="" />
                    </fieldset>
                    <fieldset class="fsborder">
                        <legend>{% trans "Roles" %}</legend>
                        <ul class="roles">
                            {% for rolid, rolname in roles %}
                            <li><input name="rol-aux" type="radio" rolname="{{ rolname }}" value="{{ rolid }}" />{{ rolname }}</li>
                            {% endfor %}
                        </ul>
                    </fieldset>
                    <input id="btn-usr-project" type="button" value="Añadir" class="btn01" />
                </div>
            </div>
            <div class="width100 float-left">
                <input class="btn01" type="submit" value="{% trans "Save" %}" />
                <a href="{% url 'web:projects' %}" class="btn01">{% trans "Return" %}</a>
                <span class="ajax-loader"></span>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
