{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}
    <span class="separator"> &rsaquo; </span>
    <span class="title-item">{% trans "Users" %}</span>
{% endblock %}

{% block wrapper %}
<div id="users">
    <div class="context-menu">
        <ul>
            <li><a class="new-us" href="{% url 'users-create' %}">{% trans "New user" %}</a></li>
        </ul>
    </div>

    {% include "messages.html" %}
    
    <div class="center-block questions-list users-list">
        {% for user in page.object_list %}
        <div class="user-module">
            <div class="user-header">
                <div class="main-header-row">
                    <a href="{% url 'users-view' uid=user.id %}">
                        {% if user.get_full_name %}
                            <span class="title">{{ user.get_full_name }}</span>
                        {% else %}
                            <span class="title">{{ user.username }}</span>
                        {% endif %}
                    </a>
                </div>
                <div class="small-header-row">
                    <span>{% trans "Created on: " %} {{ question.created_date }}</span> / 
                    <span>{% trans "Last modified on: " %} {{ question.modified_date }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "paginator.html" %}
</div>
{% endblock %}
