{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }} / <a href="{{ project.get_dashboard_url }}">{{ project.name }}{% endblock %}

{% block wrapper %}
<div id="users">
    <div class="context-menu">
        <ul>
            <li><a class="new-us" href="">{% trans "New user" %}</a></li>
        </ul>
    </div>

    {% include "messages.html" %}
    
    <div class="center-block questions-list users-list">
        {% for user in page.object_list %}
        <div class="user-module">
            <div class="user-header">
                <div class="main-header-row">
                    <a href="{% url 'web:users-view' uid=user.id %}">
                        <span class="title">{{ user.get_full_name }}</span>
                    </a>
                </div>
                <div class="small-header-row">
                    <span>{% trans "Created on: " %} {{ question.created_date }}</span> / 
                    <span>{% trans "Last modified on: " %} {{ question.modified_date }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "paginator.html" %}
</div>
{% endblock %}
