{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load greenmine_utils %}
{% load greenmine_markup %}
{% load i18n %}

{% block title %}
    <span class="separator"> &rsaquo; </span>
    <span class="title-item"><a href="{% url 'users-view' user.id %}">{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</a></span>
    <span class="separator"> &rsaquo; </span>
    <span class="title-item">{% trans "View" %}</span>
{% endblock %}

{% block wrapper %}
<div class="show-module">
    <div class="context-menu">
        <ul>
            <li><a class="new-milestone" href="{% url 'users' %}">
                {% trans "Return" %}</a>
            </li>
            <li><a class="new-milestone" href="{% url 'users-edit' uid=uobj.id %}">
                {% trans "Edit this user" %}</a>
            </li>
            <li><a class="new-milestone" href="{% url 'users-delete' uid=uobj.id %}">
                {% trans "Delete this user" %}</a>
            </li>
        </ul>
    </div>

    {% include "messages.html" %}

    <div class="user-module" style="padding: 10px">
        <div class="user-header">
            <div class="main-header-row">
                <span class="title">{{ uobj.get_full_name }}</span><br />
                <span class="subject"> {{ uobj.email }}</span>
            </div>
            <div class="small-header-row">
                <span>{% trans "Created on: " %} {{ question.created_date }}</span> / 
                <span>{% trans "Last modified on: " %} {{ question.modified_date }}</span>
            </div>
        </div>
        <div class="user-body">
            <div class="content">
                <div class="user-project-owner user-body-module">
                    <p><strong>{% trans "Projects owner on:" %}</strong></p>
                    <ul class="list">
                        {% for project in uobj.projects.all %}
                        <li><a href="{{ project.get_backlog_url }}">{{ project.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
