{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load i18n %}

{% block bodyclass %}login{% endblock %}

{% block body %}
<div id="login">
    {% include "messages.html" %}
    <div class="center-box">
        <div class="logo-box">
            <img src="{% static 'imgs/logo.png' %}"></img>
        </div>
        <div class="form-container">
            <form id="login-form" method="post" action=""  >
                {% csrf_token %}
                <fieldset>
                    <div class="form-field">
                        <label>{{ form.username.label }}</label>
                        {{ form.username }}
                    </div>
                    <div class="form-field">
                        <label>{{ form.password.label }}</label>
                        {{ form.password }}
                    </div>
                    <p class="forgot-pass">
                        <a href="{% url 'remember-password' %}">{% trans "Forgot your password?" %}</a>
                    </p>

                    <div class="form-field">
                        <input class="btn01" type="submit" value="{% trans "Login" %}" />
                        <span class="ajax-loader"></span>
                    </div>

                    <p class="register">
                        {% if not register_disabled %}
                        <a id="open-forgotten-password-form" href="{% url 'register' %}">{% trans "Join to greenmine" %}</a>
                        {% endif %}
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom-headers %}
<script type="text/javascript" src="{% static "js/bb/login.js" %}"></script>
{% endblock %}
