{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block middle-box %}
<div id="login">
    <form id="forgotten-password-form" method="post" action="{% url 'remember-password' %}">
        {% csrf_token %}
        <fieldset>
            <div class="form-field">
                <label>{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="form-field">
                <span class="ajax-loader"></span>
                <input class="btn01" type="submit" value="{% trans "Remember" %}" />
                <a id="close-forgotten-password-form" class="btn01" href="{% url 'login' %}">{% trans "Cancel" %}</a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
