{% extends "base.html" %}
{% load url from future %}
{% load wiki_tags %}
{% load i18n %}

{% block title %}
    <span class="separator"> &rsaquo; </span>
    <span class="title-item"><a href="{{ project.get_backlog_url }}">{{ project.name }}</a></span>
    <span class="separator"> &rsaquo; </span>
    <span class="title-item">{% trans "Wiki" %}</span>
{% endblock %}


{% block bottom-headers %}
    {% include "modules/wikiwidget.html" %}
{% endblock %}

{% block wrapper %}
<div class="wiki-page-edit form-box">
    <div class="top-box">
        <div class="top-box-bar">
            <div class="buttons-area right">
                <div class="area-item button-unbordered data-url" data-url="" data-value="1">{% trans "Save" %}</div>
            </div>
            <div class="title-area">
                <div class="title">{% trans "Create wiki page" %}:</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="middle-box">
        <div class="form-container">
            <form method="post" action="{{ current_url }}">
                {% csrf_token %}
                <div class="form-row inline-row">
                    <div class="form-field width100">
                        <label>{{ form.content.label }}</label>
                        {{ form.content }}
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="bottom-box">
        <div class="bottom-box-bar">
            <div class="buttons-area right">
                <div class="area-item button-unbordered data-url" data-url="">{% trans "Save" %}</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
