<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/mobile.css" />
        <title>Greenmine - Mobile interface.</title>
        {% block html-head %}{% endblock %}
        {% load url from future %}
        {% load i18n %}
    </head>
    <body>
        <div class="header">
            <div class="title">
                <a href="/">Green-Mine</a> {% block title %}{% endblock %}
            </div>
            {% if user.is_authenticated %}
            <div class="right">
                <a href="{% url 'web:profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
            </div>
            {% endif %}
            {% block header %}{% endblock %}
        </div>
        {% block middle %}{% endblock %}
        <div class="wrapper">
            {% block wrapper %}{% endblock %}
        </div>
        <script type="text/javascript" src="{% url "web:jsi18n" %}"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/external/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.django.patch.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/mobile.js"></script>
    </body>
</html>
