{% extends "mobile/base.html" %}
{% load url from future %}

{% block title %} 
<a href="{{ project.get_dashboard_url }}">/ {{ project.name }}</a>
{% endblock %}

{% block middle %}
<table class="top-menu">
    <tbody>
        <tr>
            <td class="selected"><a href="">Dashboard</a></td>
            <td><a href="">Questions</a></td>
            <td><a href="">Admin</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block wrapper %}
<div class="project-panel">
    
    <h3>Select your milestone:</h3>
    <div class="milestones subpanel">
        <select name="milestones">
            {% for ml in project.milestones.all %}
            <option value="{{ ml.id }}" 
                url="{% url 'web:project-uss-view' project.slug ml.id %}" 
                {% if forloop.first %}selected="selected"{% endif %}>{{ ml.name }}</option>
            {% endfor %}
            <option value="0" url="{% url 'web:project-uss-view' project.slug 0 %}">Unassigned</option>
        </select>
        <a class="button" href="">New user story</a>
    </div>
    <div class="issues-module">
    </div>
</div>
{% endblock %}
