{% extends "mobile/base.html" %}

{% block wrapper %}
<div class="login-panel">
    <form action="" method="post">
        <div class="field">
            <label>Username: </label><br />
            <input type="text" name="username" />
        </div>
        <div class="field">
            <label>Password: </label><br />
            <input type="password" name="password" />
        </div>
        <div class="field submit-field">
            <input type="submit" value="Login" />
        </div>
    </form>
</div>
{% endblock %}
