{% extends "mobile/base.html" %}
{% load url from future %}
{% load i18n %}

{% block wrapper %}
<div class="us-create-module">
    <h3>Crear US:</h3>
    <form action="{{ current_url }}">
        <div class="field">
            {{ form.subject.label }}
            {{ form.subject.errors }}
            {{ form.subject }}
        </div>
        <div class="field">
            {{ form.estimation.label }}
            {{ form.estimation.errors }}
            {{ form.estimation }}
        </div>
    </form>
</div>
{% endblock %}
